/*!
 * 
 * SpreadJS Library 12.2.0
 * 
 * Copyright(c) GrapeCity, Inc.  All rights reserved.
 * 
 * Licensed under the SpreadJS Commercial License.
 * us.sales@grapecity.com
 * https://www.grapecity.com/en/licensing/spreadjs/
 * 
 * 
 */
.trellis-grouping .gc-trellis-viewport{background:#ced8d8;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.trellis-grouping .gc-trellis-group-header{background:#f5f7f7;text-align:center;font-size:14px;font-weight:700;font-family:Helvetica,Arial,sans-serif;color:#046283}.trellis-grouping .gc-trellis-group-header-inner{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:inline-block;height:100%}.trellis-grouping .gc-trellis-group-footer{background:#eaefef}.trellis-grouping .gc-trellis-group-body{overflow:hidden}.trellis-grouping .gc-trellis-group-content{background:#eaefef}.trellis-grouping .gc-trellis-row{width:100%;border:0}.trellis-grouping .gc-trellis-row:hover{cursor:pointer}.trellis-grouping .gc-trellis-row .gc-cell-border{border:none}