<div class="app-container">
    <div class="app-header content">
      <img class="logo" src="assets/img/logo.png" alt="logo"><span class="header-text">{{ appHeader }}</span>
    </div>
    <div class="body-container">
        <div class="navigationBar content">
            <h2>Spread.Sheets</h2>
            <nav>
                <ul>
                    <li><a routerLink="/quick-start" routerLinkActive="active">Quick Start</a></li>
                    <li><a routerLink="/gc-spread-sheets" routerLinkActive="active">GC-Spread-Sheets</a></li>
                    <li><a routerLink="/gc-worksheet" routerLinkActive="active">GC-Worksheet</a></li>
                    <li><a routerLink="/gc-column" routerLinkActive="active">GC-Column</a></li>
                    <li><a routerLink="/data-binding" routerLinkActive="active">Data Binging</a></li>
                    <li><a routerLink="/style" routerLinkActive="active">Style</a></li>
                    <li><a routerLink="/outline" routerLinkActive="active">Outline</a></li>
                </ul>
            </nav>
        </div>
        <div class="componentContainer content">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="app-footer content">
        <span class="footer-text">{{appFooter}}</span>
    </div>
</div>