<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <title>Spread.Views showcase samples</title>
    <link rel="stylesheet" href="../../css/gc.spread.views.dataview.12.2.0.css">
    <link rel="stylesheet" href="../../css/plugins/gc.spread.views.cardlayout.12.2.0.css">
    <link rel="stylesheet" href="../../css/bootstrap-snippet.min.css">
    <link rel="stylesheet" href="../../css/plugins/gc.spread.views.timelinegrouping.12.2.0.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.15/vue.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.9/vue-router.js" type="text/javascript"></script>
    <script src="../../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/plugins/gc.spread.views.cardlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/plugins/gc.spread.views.timelinegrouping.12.2.0.min.js" type="text/javascript"></script>


    <link rel="stylesheet" href="style.css">
</head>
<style>

</style>
<body>
<div class="container" style="height:100%">
    <div id="app" style = "height:calc(100% - 20px)">
        <h2>Spread Support Forum</h2>
        <router-view></router-view>
    </div>
</div>

<template id="topicListTmplCard" style="display: none">
    <div class="topic-container-card">
        <div class="wrapper">
            <div class="idcard" data-column="idcard">
            </div>
            <div class="detail">
                <div class="title">{{=it.title}}</div>
                <div class="description">{{=it.description}}</div>
                <div class="userdetail">
                    <div class="author">Author: {{=it.user}}</div>
                    <div class="date">{{=it.date}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="topicListTmplList" style="display: none">
    <div class="topic-container-list">
        <div class="wrapper">
            <div class="idcard" data-column="idcard">
            </div>
            <div class="detail">
                <div class="title">{{=it.title}}</div>
                <div class="userdetail">
                    <div class="author">Author: {{=it.user}}</div>
                    <div class="date">{{=it.date}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="topicDetailPostTmpl" style="display: none">
    <div class="topic-container">
        <div class="wrapper">
           <div style="overflow: auto">
               <div style = "margin: 10px;font-size:15px">{{=it.user}} Say:</div>
               <div style = "margin: 10px;font-size:13px">{{=it.post}}</div>
               <h5 style="margin-left:10px;">{{=it.date}}</h5>
           </div>
        </div>
    </div>
</template>

<template id="allTopic" style="display: none">
    <div style = "margin:20px; height:calc(100% - 80px)">
    <div class="row">
        <div class="intro shadow">
            <div class="logo">
                <image src="./images/forumlogo.png">
                </image>
            </div>
            <div class="content">
                <div class ="welcome">Welcome to our SpreadJS support community!</div>
                <p class="description">Ask questions, share feedback and get helps from others</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="sample-options">
            <div class="topic">All topics</div>
            <div style="display: inline-block" onclick="changeToCard()" id="disp-cards" class="btn btn-default display-button pull-right active">
                <span class="demo-icon icon-th"></span>
            </div>
            <div style="display: inline-block" onclick="changeToList()" id="disp-lists" class="btn btn-default display-button pull-right">
                <span class="demo-icon icon-th-list"></span>
            </div>
        </div>
    </div>
    <div class="row gridContainer" id="gridConatiner">
        <div  class="shadow" style="height:100%; width:100%;" id="grid1"></div>
    </div>
    </div>
</template>

<template id="topicDetail" style="display: none">
    <div class="topic-details-container shadow">
        <div class="wrapper">
            <div>
                <div class="postcardcontainer">
                    <image class="postcard" src = "{{post.idcard}}" ></image>
                </div>
                <div class="postinfo">
                    <div class = "posttitle">{{post.title}}</div>
                    <div style="margin-top: 5px">
                        <div class="postuser">Author: {{post.user}}</div>
                        <div class="postdate">{{post.date}}</div>
                    </div>
                </div>
            </div>
            <div class="postdescription">{{{post.description}}}</div>
        </div>
    </div>
    <div class="topic-conversation-container">
        <div id="detailGrid" style="height:100%;width:100%;"></div>
    </div>
</template>

<script src="../../js/license.js"></script><script src="app.js"></script>
</body>
</html>
