<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <title>Spread.Views showcase samples</title>
    <link rel="stylesheet" href="../../css/gc.spread.views.dataview.12.2.0.css">
    <link rel="stylesheet" href="../../css/bootstrap-snippet.min.css">
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/plugins/gc.spread.views.trellisgrouping.12.2.0.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js" type="text/javascript"></script>
    <script src="../../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../../js/plugins/gc.spread.views.trellisgrouping.12.2.0.min.js" type="text/javascript"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98623245-9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
 
        gtag('config', 'UA-98623245-9');
    </script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="main-container">
    <div class="wrapper">
        <div class="board-header">
            <span class="title">Hornet scrum whiteboard</span>
            <a style="color:white;font-size:15px;font-weight:bold;" class="pull-right" onclick="showMenuPanel();">Show Menu</a>
        </div>
        <div class="board-content">
            <div class="grid-container">
                <div id="grid1" style="height:100%;"></div>
            </div>

            <div id="trellis-menu" class="trellis-menu">
                <div class="trellis-menu-header">
                    <span class="header-title">Menu</span>
                    <span class="fa fa-times pull-right" onclick="showMenuPanel();"></span>
                </div>
                <div class="trellis-menu-body">
                    <div class="trellis-menu-group-label">Add Group</div>
                    <div id="add-group-container" class="add-group-container">
                        <input class="trellis-addGroupInput" placeholder="Input Group Name..."/>
                        <button type="button" class="btn btn-default trellis-editBtn" onclick="commitNewGroup();">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<template id="trellis-card" style="display: none">
    <div class="card-container">
        <div class="card-title-icon">
            <span class="title-icon card-edit fa fa-pencil" title="Edit card"></span>
            <span class="title-icon card-remove fa fa-trash-o" title="Remove card"></span>
        </div>
        {{? it.priority}}
        <div class="card-label" data-column="priority"></div>
        {{?}}
        <div class="card-content card-description" data-column="description"></div>
        {{? it.image}}
        <div class="card-image" data-column="image"></div>
        {{?}}
        {{? it.evaluation}}
        <div class="card-evaluation" data-column="evaluation"></div>
        {{?}}
    </div>
</template>
<script src="../../js/license.js"></script><script src="app.js"></script>
</body>
</html>
