html {
    font-size: 14px;
    font-family: -apple-system-font, "Helvetica Neue", 'Segoe UI', Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.main-container {
    overflow: hidden;
    height: 100%;
}

.wrapper {
    position: relative;
    height: 100%;
}

.grid-container {
    height: 100%;
}

.board-header {
    padding: 6px 12px;
    background: #0B3954;
    height: 32px;
}

.board-header .title {
    color: #fff;
}

.board-content {
    height: calc(100% - 32px);
}

.gc-grid {
    border: none;
    font-family: inherit;
}

.gc-cell {
    padding: 0;
    margin: 2px;
}

.trellis-grouping .gc-trellis-group-header {
    text-align: left;
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 300;
    color: black;
    font-family: inherit;
}

.trellis-grouping .gc-trellis-viewport {
    background: white;
}

.trellis-grouping .gc-trellis-row {
    background: transparent;
    padding: 6px 12px;
}

.trellis-grouping .gc-trellis-group-header,
.trellis-grouping .gc-trellis-group-content {
    background: none;
}

.trellis-grouping .gc-trellis-group-footer {
    background: none;
    padding: 6px 12px;
}

.gc-trellis-group-footer:hover {
    cursor: pointer;
    color: #000;
}

.gc-cell {
    white-space: normal;
}

.card-container {
    border: 1px solid #e0e0e0;
    background: white;
    position: relative;
    border-radius: 4px;
    border-bottom-width: 3px;
    padding: 0.4em;
}

.gc-trellis-row:hover .card-container {
    background: #f1f1f1;
}

.gc-trellis-row:hover .card-title-icon {
    display: inline-block;
}

.card-label {
    font-size: 0;
}

.card-title-icon {
    position: absolute;
    right: 12px;
    top: 6px;
    display: none;
    background: #0B3954;
    border-radius: 4px;
}

.card-title-icon .title-icon {
    display: inline-block;
    width: 11px;
    height: 13px;
    margin: 3px;
    color: #fff;
}

.card-title-icon .title-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.card-evaluation span {
    display: inline-block;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: lightgrey;
    text-align: center;
    color: white;
    font-weight: 600;
}

.group-header-options {
    height: 35px;
    line-height: 35px;
    position: absolute;
    right: 12px;
    top: 6px;
    font-size: 16px;
}

.group-header-options span {
    opacity: 0.5;
}

.group-header-options span:hover {
    cursor: pointer;
    opacity: 1;
}

/* ====================== */
/* === add card dialog == */
/* ====================== */
.add-card {
    width: 100%;
    padding: 5px;
    position: relative;
    background: #f5f5f5;
}

.add-card .add-textarea {
    width: 100%;
    height: 50px;
    resize: none;
}

.add-card-footer {
    overflow: hidden;
}

.hide {
    display: none !important;
}

/* ====================== */
/* = modify card dialog = */
/* ====================== */
.modify-card-dialog {
    background: white;
    width: 300px;
    padding: 6px 15px;
    border-radius: 4px;
}

.text-label {
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
}

.color-picker-group {
    height: 35px
}

.description-editor {
    margin-top: 5px
}

.description-editor textarea {
    width: 100%;
    height: 130px;
    resize: none;
    border: 2px inset #eee;
}

.color-picker-item {
    display: inline-block;
    width: 54px;
    line-height: 35px;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    cursor: pointer;
}

.color-picker-item.checked:after {
    content: '';
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAn0lEQVQoU53SYQ3DIBCG4fcUbBIqYRYmYQqWOaiTTkKdrBIqZQ6+5Qg0hbK2gV9A8uTu4zAalzU6TkNJV6Azs9mLnYIRfYAb8DKz8RAWKCQzXymjpB6YUit+X0NZRUkj8AS+wN3xHloySnJwidV9/wCGmCk1FbKlQ2hVkoeeVricUoayV93BG7QZRwVXUXWOEXuW9zpT2fvhHP99yWb4A7pfPQ9SebFhAAAAAElFTkSuQmCC');
    position: absolute;
    right: 0px;
    top: 3px;
    height: 15px;
    width: 15px;
}

.evaluation-picker input {
    border: 2px inset #eee;
    text-align: right;
    width: 100%;
    height: 35px;
}

.modify-card-footer {
    height: 40px;
    margin-top: 10px;
}

.footer-button {
    display: inline-block;
    width: 65px;
    height: 28px;
    border: 1px solid lightgrey;
    margin: 5px 3px;
    float: right;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}

.modify-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

/* ====================== */
/* ==== trellis menu ==== */
/* ====================== */
.trellis-menu {
    width: 270px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #f5f5f5;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.trellis-menu-header {
    padding: 6px 12px;
    background: #e0e0e0;
    flex: 0 0 auto;
}

.split-line {
    border-top: 1px solid lightgrey;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 8px;
    flex: 0 0 auto;
}

.trellis-menu-group-label {
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    flex: 0 0 auto;
}

.btn {
    border-radius: 0px;
    width: 70px;
    font-weight: bold;
}

.cancel-button, .ok-button {
    float: right;
    margin-left: 10px;
}

.trellis-addGroupInput {
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0.4em;
}

.menu-setting-option {
    padding: 5px;
}

.menu-setting-option:hover {
    cursor: pointer;
    background: lightgrey;
}

.add-group-container {
    overflow: hidden;
    flex: 0 0 auto;
}

.activities-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.trellis-menu-body {
    position: relative;
    padding: 6px 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.trellis-menu-activities {
    height: 400px;
    overflow: auto;
    flex: 1;
}

.trellis-card-header {
    height: 35px;
    line-height: 35px;
    width: 100%;
}

.trellis-card-header > span:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
    display: inline-block;
}

.pull-right {
    margin-top: 3px;
    cursor: pointer;
}