* {
    margin: 0;
    padding: 0;
}

body,
html {
    background: #fff;
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.4em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #202030;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

p {
    line-height: 1.8em;
    margin-bottom: 1em;
    max-width: 700px;
}

p:empty {
    display: none;
}

ul {
    list-style: square;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a,
a:link {
    color: #6a9f9f;
    text-decoration: none;
    font-weight: 700;
}

a:hover,
a:link:hover {
    color: #406363;
}

.row {
    max-width: none;
}

.nav-row {
    height: 50px;
    line-height: 50px;
    background: #f1f1f1;
    text-align: center;
}

.nav-row nav ul {
    list-style: none;
    margin: 0;
}

nav ul {
    float: right;
}

nav ul li {
    float: left;
}

.itemMembers,
.not-found {
    display: none;
}

.navigation .list,
.navigation .members,
.navigation .methods,
.navigation .events {
    list-style: none;
}

.navigation .list {
    margin: 0;
    overflow-y: auto;
}

.navigation .list::-webkit-scrollbar,
.navigation .list::-webkit-scrollbar-corner {
    background: none;
    width: 8px;
}

.navigation .list::-webkit-scrollbar:horizontal {
    height: 8px;
}

.navigation .list::-webkit-scrollbar-thumb {
    background-color: rgb(52, 52, 79);
    border: none;
    border-radius: 5px;
}

.navigation .link-header,
.navigation .header {
    padding: 0.4em 1em;
    color: #f1f1f1;
    border-left: solid 5px #34344f;
    font-weight: 300;
    display: block;
    margin: 0;
}

.navigation .header,
.navigation .itemMembers .subtitle {
    background: #34344f;
}

.navigation .link-header:hover,
.navigation .itemMembers a:hover,
.navigation .active-link {
    background: #3c424d;
    color: #f1f1f1;
}

.navigation .itemMembers {
    margin: 0;
}

.navigation .itemMembers .itemMembers a {
    padding-left: 3em;
}

.navigation .itemMembers a,
.navigation .itemMembers .subtitle {
    padding: 0.4em 1em 0.4em 2em;
    color: #f1f1f1;
    border-left: solid 5px #34344f;
    font-weight: 300;
    display: block;
    margin: 0;
    font-size: 0.9em;
    opacity: 0.8;
}

table {
    background: #fff;
    max-width: 100%;
    border-collapse: collapse;
    overflow: auto;
    font-size: 0.95em;
}

table thead tr th {
    background: #f1f1f1;
    border: solid 1px #e0e0e0;
    padding: 0.4em;
    font-weight: 400;
    color: #202030;
}

table tr td {
    border: solid 1px #e0e0e0;
    padding: 0.4em;
}

table tr td p {
    max-width: none;
    margin: 0;
    line-height: normal;
}

table tr td h6 {
    margin-top: 1em;
}

.nameContainer {
    border-top: 1px solid #e1e1e1;
}

.tag-source {
    margin: 2em 0 0 0;
}

dl dd {
    margin-left: 1em;
}

.main {
    margin-top: 50px;
    padding: 13px 0 0 0;
}

.main p img {
    max-width: 100%;
    border-radius: 2px;
    border: solid 1px #f1f1f1;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.returnType {
    background: #E3F7B3;
    padding: 0.4em;
    border-radius: 2px;
    max-width: none;
    margin-left: 0.4em;
    display: inline-block;
}

.return-description {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.4em;
}

.navigation {
    padding: 0;
    position: relative;
    z-index: 999;
}

.navigation .nav-fix {
    background: #202030;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    overflow-y: auto;
}

.nav-bar {
    background: #fff;
    border-bottom: solid 1px #cacaca;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 998;
    height: 50px;
    line-height: 50px;
}

/* .nav-bar .padder {
    padding: 0.4em 0;
} */

.link-header img.open {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

@media only screen and (max-width: 1100px) {
    .nav-bar .padder {
        padding: 0.4em 1em;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .nav-bar .padder {
        padding: 0.4em 1em;
    }
}

.nav-bar .nav-bar-list {
    float: right;
    margin: 0;
    list-style: none;
}

.nav-bar .nav-bar-list .nav-bar-item {
    float: left;
}

.nav-bar .nav-bar-list .search-item {
    float: right;
}

.nav-bar a,
.nav-bar a:link {
    position: relative;
    display: block;
    font-size: 0.9em;
    font-weight: 400;
}

.nav-bar a .lnr,
.nav-bar a:link .lnr {
    margin-right: 0.4em;
}

.nav-bar .header-new,
.nav-bar .header-title {
    font-size: 0.9em;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    padding: 0.4em 0.4em 0.4em 0;
}

.nav-bar .header-new .header-text,
.nav-bar .header-new img,
.nav-bar .header-title .header-text,
.nav-bar .header-title img {
    display: inline-block;
    vertical-align: top;
}

.nav-bar .header-new img,
.nav-bar .header-title img {
    width: 20px;
    margin-right: 0.4em;
    position: relative;
    top: 1px;
}

.nav-bar .header-new .header-text,
.nav-bar .header-title .header-text {
    color: #6a9f9f;
}

.search #search {
    margin: 0;
    border: none;
    color: #fff;
    background: #1a1a27;
    box-shadow: none;
}

.footer {
    border-top: solid 1px #cacaca;
    text-align: center;
    margin-top: 1em;
}

.footer .copyright {
    padding: 1em 0;
}

dd h5 .returnType h4 .returnType {
    background: #E3F7B3;
    border: none;
}

.nullable,
.optional {
    font-style: italic;
    opacity: 0.8;
}

table td table {
    margin-top: 1em;
}

.sublist .header {
    border-color: #8ec1a2;
}

.members.itemMembers a {
    border-color: #49496d;
}

.methods.itemMembers .subtitle {
    border-color: #d7bc77;
}

.methods.itemMembers a {
    padding-left: 3em;
    border-color: #d7bc77;
}

.events.itemMembers .subtitle {
    border-color: #5e3a54;
}

.events.itemMembers a {
    padding-left: 3em;
    border-color: #5e3a54;
}

.navigation .extensible .link-header {
    position: relative;
    transition: 0.222s;
}

.navigation .extensible .link-header img {
    background: #34344f;
    height: 20px;
    width: 20px;
    padding: 4px;
    float: right;
    position: absolute;
    top: 9px;
    right: 9px;
    border-radius: 2px;
    opacity: 0.8;
}

.params {
    margin-bottom: 1em;
}

.tag-source{
    display: none;
}

h4.name:before {
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 50px;
    margin-top: -50px;
}

nav {
	font-family:Arial, "Arial";
	font-size:14px;
	text-align: center;
	vertical-align: bottom;
	line-height: 30px;
	float: left;
	margin: 0;
	padding: 0;
}
nav ul ul {
	display: none;
}
nav ul li:hover > ul {
	display: block;
}
nav ul {
	
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: "";
	clear: both;
	display: block;
}
nav ul li a:after {
	content: "";
}
nav ul li:nth-child(4) > a:after {
	content: url('../images/DD_arrow.png');
	display: inline;
	margin-left: 8px;
}
nav ul li {
	float: left;
	border-right:1px solid #dadada;
}
nav ul li:hover {
/*blank*/
	
}
nav ul li:hover a {
/*blank*/
	
}
nav ul li a {
	height:50px;
	display: block;
	padding: 12px 20px;
	color: #fff;
    text-decoration: none;
    text-align: left;
	border-right: 1px solid rgba(255, 255, 255, .3);
}
nav ul li a:first-child {
	/*blank*/
}
nav ul ul {
	background: #ffffff;
	border-radius: 0px;
	padding: 0;
	position: absolute;
	top: 100%;
	text-align: left;
	border: 1px solid #d9d9d9;
	border-top: 0px;
	padding-bottom: 10px;
	font-size: 100%;
	width: 500px;
}
nav ul ul li {
	float: none;
	position: relative;
	
}
nav ul ul li a {
	height:50px;
	padding:8px 65px 8px 20px !important;
	color: #333;
	border-bottom:1px solid #eeeeee;
}
nav ul ul li a:after {
	content: "";
}
nav ul ul li a:hover {
	background: #f5f5f5;
	color: #333;
}
nav ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
