.g-display--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.g-flex-direction--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.g-flex-direction--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.g-flex-grow--0 {
  flex: 0;
}

.g-flex-grow--1 {
  flex: 1 1 auto;;
}