<h3>GC-Worksheet</h3>
<div>
    <p>The sample below shows how to bind some properties of sheet.</p>
</div>

<div>
    <gc-spread-sheets [hostStyle]="hostStyle" hostClass="spreadContainer">
        <gc-worksheet [rowCount]="rowCount | toNumber" [colCount]="columnCount | toNumber"
                      [frozenRowCount]="frozenRowCount | toNumber" [frozenColumnCount]="frozenColumnCount | toNumber"
                      [rowHeaderVisible]="rowHeaderVisible" [colHeaderVisible]="columnHeaderVisible"
                      [frozenTrailingRowCount]="frozenTrailingRowCount | toNumber"
                      [frozenTrailingColumnCount]="frozenTrailingColumnCount | toNumber" [sheetTabColor]="sheetTabColor"
                      [frozenlineColor]="frozenlineColor" [selectionBackColor]="selectionBackColor"
                      [selectionBorderColor]="selectionBorderColor" [dataSource]="data" [autoGenerateColumns]="autoGenerateColumns">
            <gc-column width=150 dataField="Name"></gc-column>
            <gc-column width=150 dataField="CountryRegionCode"></gc-column>
            <gc-column width=100 dataField="City"></gc-column>
            <gc-column width=200 dataField="AddressLine"></gc-column>
            <gc-column width=100 dataField="PostalCode"></gc-column>
        </gc-worksheet>
    </gc-spread-sheets>
</div>

<div class="settingContainer">
    <table>
        <tr>
            <td>
                <label><input type="checkbox" [(ngModel)]="rowHeaderVisible"/>rowHeaderVisible</label>
            </td>
            <td>
                <label><input type="checkbox" [(ngModel)]="columnHeaderVisible"/>columnHeaderVisible</label>
            </td>
        </tr>
        <tr>
            <td>
                <label><input type="text" [(ngModel)]="rowCount"/>rowCount</label>
            </td>
            <td>
                <label><input type="text" [(ngModel)]="columnCount"/>columnCount</label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" [(ngModel)]="frozenRowCount"/>frozenRowCount
            </td>
            <td>
                <input type="text" [(ngModel)]="frozenColumnCount"/>frozenColumnCount
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" [(ngModel)]="frozenTrailingRowCount"/>frozenTrailingRowCount
            </td>
            <td>
                <input type="text" [(ngModel)]="frozenTrailingColumnCount"/>frozenTrailingColumnCount
            </td>
        </tr>
        <tr>
            <td>
                <input type="color" [(ngModel)]="sheetTabColor"/> sheetTabColor
            </td>
            <td>
                <input type="color" [(ngModel)]="frozenlineColor"/> frozenlineColor
            </td>
        </tr>
        <tr>
            <td>
                <input type="color" [(ngModel)]="selectionBackColor"/> selectionBackColor
            </td>
            <td>
                <input type="color" [(ngModel)]="selectionBorderColor"/> selectionBorderColor
            </td>
        </tr>
    </table>
</div>