html {
    font-size: 14px;
    font-family: -apple-system-font, "Helvetica Neue", 'Segoe UI', Helvetica, Arial, sans-serif;
}

html,body{
    height:100%;
    background-color: #efefef;
}

a {
    cursor: pointer;
}

* {
    font-family: Arial, sans-serif;
}

.stars-box {
    height: 16px;
    background-image: url("./images/goldStar.png");
}

.rating0 {
    width: 0;
}

.rating1 {
    width: 16px;
}

.rating2 {
    width: 32px;
}

.rating3 {
    width: 48px;
}

.rating4 {
    width: 64px;
}

.rating5 {
    width: 80px;
}

.div {
    width: 100%;
    height: 100%;
}

.photo {
    width: 15px;
    height: 10px;
}

.c10, .c11, .c12, .c13, .c14, .c15, .c16, .c17, .c18, .c7, .c8, .c9 {
    padding: 0;
    border: 0
}

.gc-column-header-cell {
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
}

.gc-cell {
    border: 0;
    border-right: 1px dashed #808080;
}

.odd {
    background-color: rgb(246, 246, 246)
}

.filter{
    width: 90%;
    border: 1px solid lightgrey;
}

.showToolPanelBtn{
    border: 1px solid lightgrey;
    width: 80px;
    border-radius: 5px;
    background-color: #fff;
    outline: 0;
    vertical-align: top;
    font-size: 1rem;
    padding: 1px;
}

.game-filter {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
