<template>
  <div class="home">
    <grid :json-data="jsonData"/>
  </div>
</template>

<script>
import Grid from './../components/Grid'
import data from "./../components/config/sheetExample";

export default {
  name: 'sheet',
  components: { Grid },
  data(){
    return {
      jsonData: data
    }
  },
  computed:{},
  methods:{
    onClick(){
      this.jsonData.activeSheetIndex = 1
    }
  }
}
</script>
