<template>
  <div :style="'height: calc(100% - '+(ribbonCollapsed?95:175)+'px);'">
    <vc-ribbon
      :config="ribbonConfig"
      :tab-selected="0"
      ref="ribbon"
      width="100%"
      toggle-button="Свернуть/развернуть меню"
      toolstrip-min-height="35px"
      theme="blue"
      @vue-ribbon:command="onRibbonCommand"
      @vue-ribbon:collapsed="onRibbonCollapsed"
      app-icon="mdi-file-excel-box"
    />
    <!--    @vue-ribbon:mounted="onRibbonMounted"-->
    <!--    @vue-ribbon:tab="onRibbonTab"-->
    <!--    @vue-ribbon:disabled="onRibbonDisabled"-->
    <!--    @vue-ribbon:collapsed="onRibbonCollapsed"-->
    <!--    @vue-ribbon:hidden="onRibbonHidden"-->
    <!--    @vue-ribbon:beforedestroy="onRibbonBeforeDestroy"-->
    <!--    @vue-ribbon:destroyed="onRibbonDestroyed"-->
    <div ref="selectionRange"></div>
    <input
      type="text"
      ref="formulaTextBox"
      style="width: 100%"
    />
    <div
      ref="grid"
      class="gc-grid"
    ></div>
    <div
      ref="statusBar"
      style="height: 22px"
    ></div>
    {{ some }}
  </div>
</template>

<script>

import '@grapecity/spread-sheets/styles/gc.spread.sheets.excel2016colorful.css';
import 'vc-ribbon/dist/lib/vc-ribbon.min.css';
//import '@grapecity/spread-sheets-languagepackages';
import * as GC from '@grapecity/spread-sheets/';
import * as Excel from '@grapecity/spread-excelio';

import { saveAs } from 'file-saver'

import VcRibbon from 'vc-ribbon';
import parseCSSFont from 'parse-css-font';

let thousandDecreaseFormatter = {}
thousandDecreaseFormatter.prototype = GC.Spread.Formatter.FormatterBase
thousandDecreaseFormatter.parse = function (str) {
  return str
};
thousandDecreaseFormatter.format = function (obj, conditionalForeColor) {
  // conditionalForeColor.value = "blue";
  if (obj || obj === 0) {
    const number = parseFloat(obj)
    if (!isNaN(number)) {
      if (Math.abs(number) > 1000) {
        return Math.round(number / 1000)
          .toString()
          .replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
      } else {
        return '0';
      }
    }
    return obj
  }
  return '';
}

thousandDecreaseFormatter.typeName = 'thousand-decrease';

export default {
  name: 'grid',
  props: {
    license: String,
    jsonData: Object
  },
  components: { VcRibbon },
  data () {
    return {
      defaultFont: '12px Arial',
      excelFileName: "excel-export.xlsx",
      selections: [],
      workbook: null,
      ribbon: {
        font: {
          family: 'Arial',
          size: '12px',
          bold: false,
          italic: false,
          underline: false,
          lineThrough: false,
          doubleUnderline: false,
          overline: false,
          foreColor: null,
          backColor: null,
          border: null
        },
        number: {
          format: null,
          custom: ''
        },
        filter: {
          options: null
        },
        paragraph: {
          hAlign: '',
          vAlign: '',
          indentDiff: null
        },
        clipboard: {
          range: null,
          text: null,
          sheet: null,
          sheetName: null
        }
      },
      ribbonCollapsed: false
    }
  },
  computed: {
    ribbonConfig () {
      // debugger;
      return {
        quickLaunchToolbar: [{
          name: 'save', // command name
          hint: 'Save (Ctrl+S)', // optional button tooltip
          icon: 'mdi-content-save' // button icon
        }, {
          name: 'cut',
          hint: 'Cut (Ctrl+X)',
          icon: 'mdi-content-cut'
        }, {
          name: 'copy',
          hint: 'Copy (Ctrl+C)',
          icon: 'mdi-content-copy'
        }, {
          name: 'paste',
          hint: 'Paste (Ctrl+V)',
          icon: 'mdi-content-paste'
        }, {
            name: 'undo',
            hint: 'Paste (Ctrl+Z)',
            icon: 'mdi-undo'
        }, {
            name: 'redo',
            hint: 'Paste (Ctrl+X)',
            icon: 'mdi-redo'
        }],
        tabs: [
          {
            label: 'Главная',
            ribbons: [
              {
                label: 'Шрифт',
                name: 'font',
                width: '300px',
                tools: [
                  {
                    type: 'dropdown',
                    name: 'dropdown:font-family',
                    width: '150px',
                    items: this.ribbonFontItems
                  },
                  {
                    type: 'dropdown',
                    name: 'dropdown:font-size',
                    width: '70px', // width of the dropdown in pixels or percentage. if not set, width will be automatic
                    items: this.ribbonFontSizes
                  },
                  {
                    type: 'buttons',
                    size: 'small',
                    name: 'buttons:font-sizing',
                    commands: [
                      {
                        name: 'font-grow',
                        hint: 'Grow Font',
                        icon: 'mdi-plus'
                      },
                      {
                        name: 'font-shrink',
                        hint: 'Shrink Font',
                        icon: 'mdi-minus'
                      }
                      // {
                      //   name: "format-clear",
                      //   hint: "Clear formatting",
                      //   icon: "mdi-format-clear"
                      // }
                    ]
                  },
                  {
                    type: 'break'
                  },
                  {
                    type: 'toggle-buttons',
                    name: 'toggle-buttons:bold-italic-underline-strikethrough',
                    size: 'small',
                    commands: [
                      {
                        name: 'bold',
                        hint: 'Жирный (Ctrl+B)',
                        icon: 'format_bold'
                      },
                      {
                        name: 'italic',
                        hint: 'Курсив (Ctrl+I)', // optional
                        icon: 'format_italic'
                      },
                      {
                        name: 'underline',
                        hint: 'Подчеркнутый (Ctrl+U)', // optional
                        icon: 'format_underline'
                      },
                      {
                        name: 'strikethrough',
                        hint: 'Зачеркнутый', // optional
                        icon: 'strikethrough_s'
                      }
                    ]
                  },
                  {
                    type: 'separator'
                  },
                  {
                    type: 'color-picker',
                    name: 'color-picker:font-color',
                    size: 'small',
                    hint: 'Установить цвет шрифта', // optional
                    icon: 'font_download',
                    labels: {
                      standard: 'Стандартные цвета',
                      palette: 'Палитра',
                      auto: 'Авто'
                    },
                    colors: colors
                  },
                  {
                    type: 'color-picker',
                    name: 'color-picker:highlight-color',
                    hint: 'Выбрать фоновый цвет',
                    icon: 'mdi-palette',
                    size: 'small',
                    labels: {
                      standard: 'Стандартные цвета',
                      palette: 'Палитра',
                      auto: 'Авто'
                    },
                    colors: colors
                  },
                  {
                    type: 'menu',
                    name: 'menu:border-style',
                    size: 'small',
                    hint: 'Тип границ',
                    dropDownCssClasses: [], // additional optional CSS classes to apply to the menu dropdown
                    activator: {
                      icon: 'border_style'
                    },
                    commands: [
                      {
                        name: 'none',
                        icon: 'border_clear',
                        label: 'Нет'
                      },
                      {
                        name: 'all',
                        icon: 'border_all',
                        label: 'Все'
                      },
                      {
                        name: 'left',
                        icon: 'border_left',
                        label: 'Левая'
                      },
                      {
                        name: 'top',
                        icon: 'border_top',
                        label: 'Верхняя'
                      },
                      {
                        name: 'right',
                        icon: 'border_right',
                        label: 'Правая'
                      },
                      {
                        name: 'bottom',
                        icon: 'border_bottom',
                        label: 'Нижняя'
                      },
                      {
                        name: 'outline',
                        icon: 'border_outer',
                        label: 'Контур'
                      },
                      {
                        name: 'inside',
                        icon: 'border_inner',
                        label: 'Внутри'
                      },
                      {
                        name: 'innerHorizontal',
                        icon: 'border_horizontal',
                        label: 'Горизонтальная'
                      },
                      {
                        name: 'innerVertical',
                        icon: 'border_vertical',
                        label: 'Вертикальная'
                      }
                    ]
                  }
                ]
              },
              {
                label: 'Числа',
                name: 'numbers',
                width: '110px',
                tools: [
                  {
                    type: 'dropdown',
                    name: 'dropdown:number-format',
                    width: '110px', // width of the dropdown in pixels or percentage. if not set, width will be automatic
                    items: this.ribbonNumberFormats
                  },
                  {
                    type: 'buttons',
                    size: 'small',
                    name: 'buttons:number-format',
                    commands: [
                      {
                        name: 'percentage',
                        hint: 'Процент', // optional
                        icon: 'mdi-percent'
                      },
                      {
                        name: 'decimal',
                        hint: 'Десятичный', // optional
                        // label: 'Shrink Font', // optional
                        icon: 'mdi-decimal-comma'
                      },
                      {
                        name: 'increase-decimal',
                        hint: 'Увеличить число десятичных знаков', // optional
                        // label: 'Clear formatting', // optional
                        icon: 'mdi-decimal-comma-increase'
                      },
                      {
                        name: 'decrease-decimal',
                        hint: 'Уменьшить число десятичных знаков', // optional
                        // label: 'Clear formatting', // optional
                        icon: 'mdi-decimal-comma-decrease'
                      }
                    ]
                  }
                ]
              },
              {
                label: 'Сортировка и фильтрация',
                name: 'sort-filter',
                width: '60px', // optional width in pixels or percentage, if not set ribbon width will be automatic
                tools: [
                  {
                    type: 'buttons',
                    size: 'small',
                    name: 'buttons:filter',
                    items: 'break', // display the buttons list vertically
                    commands: [
                      {
                        name: 'filter',
                        hint: 'Фильтр', // optional
                        // label: "Filter", // optional
                        icon: 'mdi-filter'
                      },
                      {
                        name: 'remove-filter',
                        hint: 'Удалить фильтр', // optional
                        label: '', // optional
                        icon: 'mdi-filter-remove'
                      }
                    ]
                  },
                  {
                    type: 'buttons',
                    size: 'small',
                    name: 'buttons:sort',
                    items: 'break', // display the buttons list vertically
                    commands: [
                      {
                        name: 'ascending-sort',
                        hint: 'Сортировать по возрастанию', // optional
                        label: '', // optional
                        icon: 'mdi-sort-ascending'
                      },
                      {
                        name: 'descending-sort',
                        hint: 'Сортировать по убыванию', // optional
                        label: '', // optional
                        icon: 'mdi-sort-descending'
                      }
                    ]
                  }
                ]
              },
              {
                label: 'Границы и группы',
                name: 'outlines',
                width: '100px', // optional width in pixels or percentage, if not set ribbon width will be automatic
                tools: [
                  {
                    type: 'buttons',
                    size: 'small',
                    name: 'buttons:outlines',
                    commands: [
                      {
                        name: 'group-column',
                        hint: 'Группировать столбец',
                        icon: 'mdi-table-column-width'
                      },
                      {
                        name: 'group-row',
                        hint: 'Группировать строку',
                        icon: 'mdi-table-row-height'
                      },
                      {
                        name: 'expand',
                        hint: 'Развернуть',
                        icon: 'mdi-arrow-expand-vertical'
                      },
                      {
                        name: 'collapse',
                        hint: 'Свернуть',
                        icon: 'mdi-arrow-collapse-vertical'
                      },
                      {
                        name: 'show',
                        hint: 'Показать группы',
                        icon: 'mdi-eye'
                      },
                      {
                        name: 'hide',
                        hint: 'Спрятать группы',
                        icon: 'mdi-eye-off'
                      },
                      {
                        name: 'ungroup',
                        hint: 'Разгруппировать',
                        icon: 'mdi-window-close'
                      }
                    ]
                  },
                  {
                    type: 'menu', // define type of the tool
                    name: 'menu:freeze-pane', // menu name
                    size: 'small', // tool size - "small" or "large"
                    hint: 'Закрепить', // optional menu tooltip

                    dropDownCssClasses: [
                      'custom-css-class-1',
                      'custom-css-class-2'
                    ], // optional array of custom CSS classes to apply to the menu dropdown

                    // mdi-dock-left
                    // mdi-view-compact
                    activator: {
                      label: 'Закрепить', // menu main item label
                      icon: 'mdi-dock-left' // menu main item icon
                    },
                    commands: [
                      {
                        name: 'freeze-pane',
                        label: 'По выделению',
                        icon: 'mdi-dock-left'
                      },
                      {
                        name: 'freeze-top-row',
                        label: 'Первая строка',
                        icon: 'mdi-dock-left'
                      },
                      {
                        name: 'freeze-first-column',
                        label: 'Первый столбец',
                        icon: 'mdi-dock-left'
                      },
                      {
                        name: 'freeze-bottom-row',
                        label: 'Последняя строка',
                        icon: 'mdi-dock-left'
                      },
                      {
                        name: 'freeze-last-column',
                        label: 'Последний столбец',
                        icon: 'mdi-dock-left'
                      },
                      {
                        name: 'freeze-clear',
                        label: 'Очистить',
                        icon: 'mdi-dock-left'
                      }
                    ]
                  }
                ]
              },
              {
                label: 'Абзац',
                name: 'paragraph',
                width: '135px',
                tools: [
                  {
                    type: 'exclusive-buttons',
                    name: 'exclusive-buttons:format-halign',
                    size: 'small',
                    commands: [
                      {
                        name: 'left',
                        hint: 'Выровнять по левому краю',
                        icon: 'mdi-format-align-left'
                      },
                      {
                        name: 'center',
                        hint: 'Выровнять по центру',
                        icon: 'mdi-format-align-center'
                      },
                      {
                        name: 'right',
                        hint: 'Выровнять по правому краю',
                        icon: 'mdi-format-align-right'
                      }
                    ]
                  },
                  {
                    type: 'buttons',
                    size: 'small',
                    name: 'buttons:indent',
                    commands: [
                      {
                        name: 'outdent',
                        hint: 'Уменьшить отступ',
                        icon: 'mdi-format-indent-decrease'
                      },
                      {
                        name: 'indent',
                        hint: 'Увеличить отступ',
                        icon: 'mdi-format-indent-increase'
                      }
                    ]
                  },
                  {
                    type: 'break'
                  },
                  {
                    type: 'exclusive-buttons',
                    name: 'exclusive-buttons:format-valign',
                    size: 'small',
                    commands: [
                      {
                        name: 'bottom',
                        hint: 'Выровнять по нижнему краю',
                        icon: 'mdi-format-align-bottom'
                      },
                      {
                        name: 'center',
                        hint: 'Выровнять по середине',
                        icon: 'mdi-format-align-middle'
                      },
                      {
                        name: 'top',
                        hint: 'Выровнять по верхнему краю',
                        icon: 'mdi-format-align-top'
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    },
    ribbonFontItems () {
      let items = []
      for (let key in fonts) {
        items.push({
          name: key,
          label: key,
          value: key,
          style: { fontFamily: `${key}, Segoe UI, Arial` }
        })
      }
      items.push({
        name: 'none',
        label: 'Undefined',
        value: 'none'
      })
      return items
    },
    ribbonFontSizes () {
      let items = []
      for (let key in this.fontSizesMap) {
        let label = this.fontSizesMap[key]
        items.push({
          name: key,
          label: label,
          value: key,
          style: {
            fontSize: key
          }
        })
      }
      items.push({
        name: 'none',
        label: '',
        value: 'none',
        style: {
          fontSize: '12px'
        }
      })
      return items
    },
    fontSizesMap () {
      let sizesMap = {}
      fontSizes.forEach(size => {
        sizesMap[`${size}px`] = size.toString()
      })
      return sizesMap
    },
    ribbonNumberFormats () {
      let items = []
      for (let key in numberFormats) {
        let label = numberFormats[key]
        items.push({
          name: key,
          label: label,
          value: key
        })
      }
      return items
    },
    some () {
      const items = []

      let obj = {}
      items.forEach(i => {
        obj[i.name] = true
      })
      // console.log(JSON.stringify(obj))
      // debugger
      return '';
    },
    hasTag () {
      return this.$listeners && this.$listeners.tag
    }
  },
  watch: {
    ribbon: {
      deep: true,
      handler (value) {
        this.prepareRibbon()
      }
    }
  },
  methods: {
    onRibbonCommand (data) {
      console.log(data)

      this.ribbon.font.border = null
      this.ribbon.filter.options = null
      this.ribbon.paragraph.indentDiff = 0

      if (data.ribbon === 'font') {
        this.handleFontCommands(data)
      } else if (data.ribbon === 'numbers') {
        this.handleNumbersCommands(data)
      } else if (data.ribbon === 'sort-filter') {
        this.handleSortFilterCommands(data)
      } else if (data.ribbon === 'outlines') {
        this.handleOutlinesCommands(data)
      } else if (data.ribbon === 'paragraph') {
        this.handleParagraphCommands(data)
      } else if(data.type === 'vc-ribbon-quick-launch-toolbar'){
        this.handleQuickLaunch(data)
      }
    },
    handleQuickLaunch(ribbonEvent){
      if(ribbonEvent.name === 'save'){
        const json = JSON.stringify(this.workbook.toJSON());
        const excelIO = new Excel.IO()

        excelIO.save(json, blob => {
          saveAs(blob, this.excelFileName);
          }, e => {
          if (e.errorCode === 1) {
            alert(e.errorMessage);
          }
        });
      }
      else if(ribbonEvent.name === 'undo'){
        this.workbook.undoManager().undo()
      }
      else if(ribbonEvent.name === 'redo'){
        this.workbook.undoManager().redo()
      }
      else if(ribbonEvent.name === 'copy'){
          this.workbook.commandManager().execute({ cmd: 'copy',  sheetName:this.workbook.getActiveSheet().name()})
      }
      else if(ribbonEvent.name === 'cut'){
          this.workbook.commandManager().execute({ cmd: 'cut',  sheetName:this.workbook.getActiveSheet().name()})
      }
      else if(ribbonEvent.name === 'paste'){
        this.workbook.commandManager().execute({ cmd: 'paste',  sheetName:this.workbook.getActiveSheet().name()})
        // this.workbook.commandManager().execute({cmd: "clipboardPaste", sheetName: this.activeSheet.name(), fromSheet: this.activeSheet, fromRanges: null, pastedRanges: range, isCutting: false, clipboardText: text, pasteOption: GC.Spread.Sheets.ClipboardPasteOptions.all});
      }
    },
    handleFontCommands (ribbonEvent) {
      if (ribbonEvent.name === 'dropdown:font-family') {
        this.ribbon.font.family = ribbonEvent.commands.name
      } else if (ribbonEvent.name === 'dropdown:font-size') {
        this.ribbon.font.size = ribbonEvent.commands.value
      } else if (
        ribbonEvent.name ===
        'toggle-buttons:bold-italic-underline-strikethrough'
      ) {
        let toggleMap = {}
        ribbonEvent.commands.forEach(cmd => {
          toggleMap[cmd] = true
        })
        this.ribbon.font.lineThrough = toggleMap.hasOwnProperty(
          'strikethrough'
        )
        this.ribbon.font.underline = toggleMap.hasOwnProperty('underline')
        this.ribbon.font.doubleUnderline = toggleMap.hasOwnProperty(
          'doubleunderline'
        )
        this.ribbon.font.overline = toggleMap.hasOwnProperty('overline')
        this.ribbon.font.bold = toggleMap.hasOwnProperty('bold')
        this.ribbon.font.italic = toggleMap.hasOwnProperty('italic')
      } else if (ribbonEvent.name === 'color-picker:font-color') {
        this.ribbon.font.foreColor = ribbonEvent.commands[0]
      } else if (ribbonEvent.name === 'color-picker:highlight-color') {
        this.ribbon.font.backColor = ribbonEvent.commands[0]
      } else if (ribbonEvent.name === 'menu:border-style') {
        this.ribbon.font.border = ribbonEvent.commands[0]
      } else if (ribbonEvent.name === 'buttons:font-sizing') {
        let cmd = ribbonEvent.commands[0]
        let current = parseInt(this.ribbon.font.size.replace('px', ''))
        if (cmd === 'font-grow') {
          let greater = fontSizes.filter(s => {
            return s > current
          })
          if (greater.length > 0) {
            this.ribbon.font.size = greater[0] + 'px';
          }
        } else if (cmd === 'font-shrink') {
          let less = fontSizes.filter(s => {
            return s < current
          })
          if (less.length > 0) {
            this.ribbon.font.size = less[less.length - 1] + 'px';
          }
        }
      }

      let fontMarks = []
      let decorationValue = GC.Spread.Sheets.TextDecorationType.none
      if (this.ribbon.font.italic) {
        fontMarks.push('italic')
      }
      if (this.ribbon.font.bold) {
        fontMarks.push('bold')
      }

      if (this.ribbon.font.lineThrough) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.lineThrough
      }
      if (this.ribbon.font.underline) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.underline
      }
      if (this.ribbon.font.doubleUnderline) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.doubleUnderline
      }
      if (this.ribbon.font.overline) {
        decorationValue |= GC.Spread.Sheets.TextDecorationType.overline
      }

      let fontValue = fontMarks.join(' ')
      let family = this.ribbon.font.family
      let size = this.ribbon.font.size

      // Border definition
      let borderOption = null
      let borderLineStyle = null
      if (this.ribbon.font.border) {
        borderOption = {}
        if (this.ribbon.font.border === 'none') {
          borderOption['all'] = true
          borderLineStyle = new GC.Spread.Sheets.LineBorder(
            '#000000',
            GC.Spread.Sheets.LineStyle.empty
          )
        } else {
          borderOption[this.ribbon.font.border] = true
          borderLineStyle = new GC.Spread.Sheets.LineBorder(
            '#000000',
            GC.Spread.Sheets.LineStyle.thin
          )
        }
      }

      const activeSheet = this.workbook.getActiveSheet()
      this.workbook.suspendPaint()
      this.workbook.suspendEvent()
      activeSheet.getSelections().forEach(sel => {
        let range = activeSheet.getRange(
          sel.row,
          sel.col,
          sel.rowCount,
          sel.colCount,
          GC.Spread.Sheets.SheetArea.viewport
        )
        range.font(`${fontValue} ${size} ${family}`)
        range.textDecoration(decorationValue)
        range.foreColor(this.ribbon.font.foreColor)
        range.backColor(this.ribbon.font.backColor)
        if (borderOption) {
          range.setBorder(borderLineStyle, borderOption)
        }
      })
      this.workbook.resumePaint()
      this.workbook.resumeEvent()
    },
    handleNumbersCommands (ribbonEvent) {
      if (ribbonEvent.name === 'dropdown:number-format') {
        this.ribbon.number.format = ribbonEvent.commands.value
      } else if (ribbonEvent.name === 'buttons:number-format') {
        let cmd = ribbonEvent.commands[0]
        if (cmd === 'percentage') {
          this.ribbon.number.format = '#.#%';
        } else if (cmd === 'decimal') {
          this.ribbon.number.format = '#.00';
        } else if (cmd === 'increase-decimal') {
          let custom = this.ribbon.number.format
          if (this.ribbon.number.format === 'custom') {
            custom = this.ribbon.number.custom
          } else if (!custom || custom === 'general') {
            custom = '#';
          }
          let matches = custom.match(/\.0+|\.#+/)
          if (matches && matches.length > 0) {
            let match = matches[0]
            let result = '.';
            for (let n = 0; n < match.length; n++) {
              result += '0';
            }
            custom = custom.replace(match, result)
            // let newFormat =
          } else {
            custom += '.0';
          }

          this.ribbon.number.custom = custom
          this.ribbon.number.format = 'custom';
        } else if (cmd === 'decrease-decimal') {
          let custom = this.ribbon.number.format
          if (this.ribbon.number.format === 'custom') {
            custom = this.ribbon.number.custom
          } else if (!custom || custom === 'general') {
            custom = '#';
          }
          // this.ribbon.number.custom = '#'
          // let re = /\.0+|\.##/
          let matches = custom.match(/\.0+|\.#+/)
          if (matches && matches.length > 0) {
            let match = matches[0]
            let result = '';
            if (match.length > 2) {
              result += '.';
              for (let n = 0; n < match.length - 2; n++) {
                result += '0';
              }
            }
            custom = custom.replace(match, result)
          }

          this.ribbon.number.custom = custom
          this.ribbon.number.format = 'custom';
        }
      }

      const activeSheet = this.workbook.getActiveSheet()
      this.workbook.suspendPaint()
      this.workbook.suspendEvent()
      activeSheet.getSelections().forEach(sel => {
        let range = activeSheet.getRange(
          sel.row,
          sel.col,
          sel.rowCount,
          sel.colCount,
          GC.Spread.Sheets.SheetArea.viewport
        )
        if (this.ribbon.number.format) {
          if (this.ribbon.number.format === 'custom') {
            range.formatter(this.ribbon.number.custom)
          } else if (this.ribbon.number.format === 'thousand-decrease') {
            range.formatter(thousandDecreaseFormatter)
          } else {
            range.formatter(this.ribbon.number.format)
          }
        }
      })
      this.workbook.resumePaint()
      this.workbook.resumeEvent()
    },
    handleSortFilterCommands (ribbonEvent) {
      const activeSheet = this.workbook.getActiveSheet()
      let selections = activeSheet.getSelections()
      if (ribbonEvent.name === 'buttons:filter') {
        let cmd = ribbonEvent.commands[0]
        if (cmd === 'filter') {
          if (selections.length > 0) {
            activeSheet.suspendPaint()
            activeSheet.rowFilter(
              new GC.Spread.Sheets.Filter.HideRowFilter(selections[0])
            )
            activeSheet.resumePaint()
          }
        } else if (cmd === 'remove-filter') {
          activeSheet.rowFilter(null)
        }
      } else if (ribbonEvent.name === 'buttons:sort') {
        let cmd = ribbonEvent.commands[0]
        if (cmd === 'ascending-sort') {
          selections.forEach(sel => {
            activeSheet.sortRange(
              sel.row,
              sel.col,
              sel.rowCount,
              sel.colCount,
              true,
              [{ index: sel.col, ascending: true }]
            )
          })
        } else if (cmd === 'descending-sort') {
          selections.forEach(sel => {
            activeSheet.sortRange(
              sel.row,
              sel.col,
              sel.rowCount,
              sel.colCount,
              true,
              [{ index: sel.col, ascending: false }]
            )
          })
        }
      }
    },
    handleOutlinesCommands (ribbonEvent) {
      const activeSheet = this.workbook.getActiveSheet()
      const selections = activeSheet.getSelections()
      if (selections.length === 0) {
        return
      }

      let selection = selections[0]
      activeSheet.suspendPaint()
      activeSheet.suspendEvent()
      if (ribbonEvent.name === 'buttons:outlines') {
        const cmd = ribbonEvent.commands[0]
        if (cmd === 'group-column') {
          activeSheet.columnOutlines.group(selection.col, selection.colCount)
        } else if (cmd === 'group-row') {
          activeSheet.rowOutlines.group(selection.row, selection.rowCount)
        } else if (cmd === 'expand') {
          activeSheet.rowOutlines.expand(0, true)
          activeSheet.columnOutlines.expand(0, true)
        } else if (cmd === 'collapse') {
          activeSheet.rowOutlines.expand(0, false)
          activeSheet.columnOutlines.expand(0, false)
        } else if (cmd === 'show') {
          activeSheet.showRowOutline(true)
          activeSheet.showColumnOutline(true)
        } else if (cmd === 'hide') {
          activeSheet.showRowOutline(false)
          activeSheet.showColumnOutline(false)
        } else if (cmd === 'ungroup') {
          activeSheet.rowOutlines.ungroup()
          activeSheet.columnOutlines.ungroup()
        }
      } else if (ribbonEvent.name === 'menu:freeze-pane') {
        let cmd = ribbonEvent.commands[0]
        if (cmd === 'freeze-pane') {
          activeSheet.frozenRowCount(selection.row)
          activeSheet.frozenColumnCount(selection.col)
        } else if (cmd === 'freeze-top-row') {
          activeSheet.frozenRowCount(1)
        } else if (cmd === 'freeze-first-column') {
          activeSheet.frozenColumnCount(1)
        } else if (cmd === 'freeze-bottom-row') {
          activeSheet.frozenTrailingRowCount(1)
        } else if (cmd === 'freeze-last-column') {
          activeSheet.frozenTrailingColumnCount(1)
        } else if (cmd === 'freeze-clear') {
          activeSheet.frozenRowCount(0)
          activeSheet.frozenColumnCount(0)
          activeSheet.frozenTrailingRowCount(0)
          activeSheet.frozenTrailingColumnCount(0)
        }
        activeSheet.options.frozenlineColor = '#304FFE';
      }
      activeSheet.resumePaint()
      activeSheet.resumeEvent()
    },
    handleParagraphCommands (ribbonEvent) {
      if (ribbonEvent.name === 'exclusive-buttons:format-halign') {
        this.ribbon.paragraph.hAlign = ribbonEvent.commands[0]
      } else if (ribbonEvent.name === 'exclusive-buttons:format-valign') {
        this.ribbon.paragraph.vAlign = ribbonEvent.commands[0]
      } else if (ribbonEvent.name === 'buttons:indent') {
        const cmd = ribbonEvent.commands[0]
        if (cmd === 'outdent') {
          this.ribbon.paragraph.indentDiff = -1
        } else if (cmd === 'indent') {
          this.ribbon.paragraph.indentDiff = 1
        }
      }

      let halign = null
      let valign = null
      if (this.ribbon.paragraph.hAlign) {
        if (this.ribbon.paragraph.hAlign === 'left') {
          halign = GC.Spread.Sheets.HorizontalAlign.left
        } else if (this.ribbon.paragraph.hAlign === 'center') {
          halign = GC.Spread.Sheets.HorizontalAlign.center
        } else if (this.ribbon.paragraph.hAlign === 'right') {
          halign = GC.Spread.Sheets.HorizontalAlign.right
        }
      }
      if (this.ribbon.paragraph.vAlign) {
        if (this.ribbon.paragraph.vAlign === 'top') {
          valign = GC.Spread.Sheets.VerticalAlign.top
        } else if (this.ribbon.paragraph.vAlign === 'center') {
          valign = GC.Spread.Sheets.VerticalAlign.center
        } else if (this.ribbon.paragraph.vAlign === 'bottom') {
          valign = GC.Spread.Sheets.VerticalAlign.bottom
        }
      }

      const activeSheet = this.workbook.getActiveSheet()
      this.workbook.suspendPaint()
      this.workbook.suspendEvent()

      activeSheet.getSelections().forEach(sel => {
        let range = activeSheet.getRange(
          sel.row,
          sel.col,
          sel.rowCount,
          sel.colCount,
          GC.Spread.Sheets.SheetArea.viewport
        )
        if (halign !== null) {
          range.hAlign(halign)
        }
        if (valign !== null) {
          range.vAlign(valign)
        }
        if (this.ribbon.paragraph.indentDiff) {
          const current = range.textIndent()

          if (current) {
            const newIndent = current + this.ribbon.paragraph.indentDiff
            if (newIndent >= 0) {
              range.textIndent(newIndent)
            }
          } else if (this.ribbon.paragraph.indentDiff > 0) {
            range.textIndent(this.ribbon.paragraph.indentDiff)
          }
        }
      })
      this.workbook.resumeEvent()
      this.workbook.resumePaint()
    },
    onGridSelectionChanged (e, info) {
      console.log(e)
      console.log(info)
      const activeSheet = this.workbook.getActiveSheet()

      this.selections = info.newSelections
      let selection = info.newSelections[0]
      let range = activeSheet.getRange(
        selection.row,
        selection.col,
        selection.rowCount,
        selection.colCount,
        GC.Spread.Sheets.SheetArea.viewport
      )
      let decoration = range.textDecoration()

      this.ribbon.font.underline =
        (decoration & GC.Spread.Sheets.TextDecorationType.underline) ===
        GC.Spread.Sheets.TextDecorationType.underline
      this.ribbon.font.lineThrough =
        (decoration & GC.Spread.Sheets.TextDecorationType.lineThrough) ===
        GC.Spread.Sheets.TextDecorationType.lineThrough
      this.ribbon.font.doubleUnderline =
        (decoration & GC.Spread.Sheets.TextDecorationType.doubleUnderline) ===
        GC.Spread.Sheets.TextDecorationType.doubleUnderline
      this.ribbon.font.overline =
        (decoration & GC.Spread.Sheets.TextDecorationType.overline) ===
        GC.Spread.Sheets.TextDecorationType.overline
      this.ribbon.font.foreColor = range.foreColor()
      this.ribbon.font.backColor = range.backColor()
      let formatter = range.formatter()
      if (formatter !== null && typeof formatter === 'object') {
        formatter = formatter.typeName
      }
      this.ribbon.number.format = formatter

      // let json = this.workbook.toJSON()
      // debugger
      this.ribbon.paragraph.hAlign = '';
      this.ribbon.paragraph.vAlign = '';
      let halign = range.hAlign()
      let valign = range.vAlign()
      if (halign === GC.Spread.Sheets.HorizontalAlign.left) {
        this.ribbon.paragraph.hAlign = 'left';
      } else if (halign === GC.Spread.Sheets.HorizontalAlign.center) {
        this.ribbon.paragraph.hAlign = 'center';
      } else if (halign === GC.Spread.Sheets.HorizontalAlign.right) {
        this.ribbon.paragraph.hAlign = 'right';
      }

      if (valign === GC.Spread.Sheets.VerticalAlign.top) {
        this.ribbon.paragraph.vAlign = 'top';
      } else if (valign === GC.Spread.Sheets.VerticalAlign.center) {
        this.ribbon.paragraph.vAlign = 'center';
      } else if (valign === GC.Spread.Sheets.VerticalAlign.bottom) {
        this.ribbon.paragraph.vAlign = 'bottom';
      }

      let font = range.font()
      if (font) {
        let fontStr = parseCSSFont(font)
        if (fontStr.family.length > 0) {
          this.ribbon.font.family = fonts.hasOwnProperty(fontStr.family[0])
            ? fontStr.family[0]
            : 'none';
        }

        this.ribbon.font.bold = boldValues.hasOwnProperty(fontStr.weight)
        this.ribbon.font.italic = fontStr.style === 'italic';
        this.ribbon.font.size = this.fontSizesMap.hasOwnProperty(fontStr.size)
          ? fontStr.size
          : '14px';
      }
    },
    onGridActiveSheetChanged (e, args) {
      args.newSheet.bind(
        GC.Spread.Sheets.Events.SelectionChanged,
        this.onGridSelectionChanged
      )
      this.setDefaultStyle()
      if (args.oldSheet) {
        args.oldSheet.unbind(GC.Spread.Sheets.Events.SelectionChanged)
      }
    },
    setDefaultStyle () {
      const activeSheet = this.workbook.getActiveSheet()
      let defaultStyle = new GC.Spread.Sheets.Style()
      defaultStyle.font = this.defaultFont
      activeSheet.setDefaultStyle(defaultStyle)
      activeSheet.options.clipBoardOptions = GC.Spread.Sheets.ClipboardPasteOptions.all
    },
    prepareRibbon () {
      try {
        let toggleList = []
        if (this.ribbon.font.bold) {
          toggleList.push('bold')
        }
        if (this.ribbon.font.italic) {
          toggleList.push('italic')
        }
        if (this.ribbon.font.underline) {
          toggleList.push('underline')
        }
        if (this.ribbon.font.lineThrough) {
          toggleList.push('strikethrough')
        }
        if (this.ribbon.font.doubleUnderline) {
          toggleList.push('doubleunderline')
        }
        if (this.ribbon.font.overline) {
          toggleList.push('overline')
        }

        let ribbon = this.$refs.ribbon
        ribbon.resetToggleButtonGroup(
          'font',
          'toggle-buttons:bold-italic-underline-strikethrough',
          false
        )
        if (toggleList.length) {
          ribbon.selectToggleButtons(
            'font',
            'toggle-buttons:bold-italic-underline-strikethrough',
            toggleList,
            false
          )
        }

        ribbon.selectDropdownItem(
          'font',
          'dropdown:font-family',
          this.ribbon.font.family,
          false
        )
        ribbon.selectDropdownItem(
          'font',
          'dropdown:font-size',
          this.ribbon.font.size,
          false
        )
        ribbon.selectColor(
          'font',
          'color-picker:font-color',
          this.ribbon.font.foreColor,
          false
        )
        ribbon.selectColor(
          'font',
          'color-picker:highlight-color',
          this.ribbon.font.backColor,
          false
        )

        ribbon.resetDropdown('numbers', 'dropdown:number-format', false)
        // ribbon.selectDropdownItem('numbers', 'dropdown:number-format', 'General', false)
        if (this.ribbon.number.format) {
          ribbon.selectDropdownItem(
            'numbers',
            'dropdown:number-format',
            this.ribbon.number.format,
            false
          )
        }

        // this.ribbon.paragraph.hAlign
        ribbon.resetExclusiveButtonGroup(
          'paragraph',
          'exclusive-buttons:format-halign',
          false
        )
        ribbon.resetExclusiveButtonGroup(
          'paragraph',
          'exclusive-buttons:format-valign',
          false
        )
        if (this.ribbon.paragraph.hAlign) {
          ribbon.selectExclusiveButton(
            'paragraph',
            'exclusive-buttons:format-halign',
            this.ribbon.paragraph.hAlign,
            false
          )
        }
        if (this.ribbon.paragraph.vAlign) {
          ribbon.selectExclusiveButton(
            'paragraph',
            'exclusive-buttons:format-valign',
            this.ribbon.paragraph.vAlign,
            false
          )
        }
      } catch (e) {
        console.log(e)
      }
    },
    onRibbonCollapsed () {
      this.ribbonCollapsed = !this.ribbonCollapsed
      this.$nextTick(() => {
        this.workbook.refresh()
      })
    },
    getTag () {
      const sheet = this.workbook.getActiveSheet()
      const selection = sheet.getSelections()
      const cell = sheet.getCell(selection[0].row, selection[0].col)
      const tag = sheet.getTag(cell.row, cell.col)
      if (tag) {
        this.$emit('tag', tag)
      }
    }
  },
  mounted () {
    let ribbonMd = this.$el.querySelector('.vc-ribbon-md')
    if (ribbonMd) {
      ribbonMd.parentNode.removeChild(ribbonMd)
    }

    // GC.Spread.CalcEngine.LanguagePackages.languagePackages('ru')

    this.workbook = new GC.Spread.Sheets.Workbook(this.$refs.grid)

    if (this.jsonData) {
      this.workbook.suspendPaint()
      this.workbook.fromJSON(this.jsonData)
      this.workbook.resumePaint()
    }
    this.workbook.bind(
      GC.Spread.Sheets.Events.ActiveSheetChanged,
      this.onGridActiveSheetChanged
    )
    const formulaTextBox = new GC.Spread.Sheets.FormulaTextBox.FormulaTextBox(
      this.$refs.formulaTextBox,
      {}
    )
    formulaTextBox.workbook(this.workbook)
    this.workbook.options.allowExtendPasteRange = true
    this.workbook.options.allowCopyPasteExcelStyle = true
    this.workbook
      .getActiveSheet()
      .bind(
        GC.Spread.Sheets.Events.SelectionChanged,
        this.onGridSelectionChanged
      )

    this.setDefaultStyle()

    let statusBar = new GC.Spread.Sheets.StatusBar.StatusBar( this.$refs.statusBar )
    statusBar.bind(this.workbook)

    if (this.hasTag) {
      const getTagItem = {
        text: 'Детали',
        name: 'getDetailsMenuItem',
        workArea: 'viewport',
        command: this.getTag
      }
      this.workbook.contextMenu.menuData.push(getTagItem)
    }

    // let bar = GC.Spread.Sheets.StatusBar.StatusBar(this.$refs.statusbar)
    // CLIPBOARD
    // let state = this
    // this.workbook.getActiveSheet().bind(GC.Spread.Sheets.Events.ClipboardChanged, function (sender, args) {
    //   console.log("ClipboardChanged.");
    //   console.log(args)
    //   debugger
    //   //let selection = state.selections[0]
    //   //let r = state.activeSheet.getRange(selection.row, selection.col, selection.rowCount, selection.colCount, GC.Spread.Sheets.SheetArea.viewport)
    //
    //   //state.ribbon.clipboard.range = r
    // })

  }
}
const colors = {
  auto: ['', '#000000', '#ff0000', '#008000', '#0000ff'],
  palette: [
    '#fff',
    '#000',
    '#e7e6e6',
    '#475468',
    '#689ad0',
    '#df8244',
    '#a5a5a5',
    '#f6c143',
    '#4d72be',
    '#7eab55',
    '#f2f2f2',
    '#808080',
    '#cfcdcd',
    '#d6dce3',
    '#e0eaf5',
    '#f7e5d7',
    '#ededed',
    '#fdf2d0',
    '#dae2f1',
    '#e4eedb',
    '#d9d9d9',
    '#595959',
    '#adaaaa',
    '#aeb9c8',
    '#c1d6ec',
    '#f0cbb0',
    '#dbdbdb',
    '#fbe5a3',
    '#b7c6e4',
    '#cadfb7',
    '#bfbfbf',
    '#404040',
    '#737070',
    '#8796ae',
    '#a3c1e2',
    '#eab28a',
    '#c9c9c9',
    '#fad978',
    '#93aad7',
    '#b0ce94',
    '#a6a6a6',
    '#262626',
    '#3a3838',
    '#343e4e',
    '#3f74b0',
    '#b75f29',
    '#7b7b7b',
    '#b8902f',
    '#365491',
    '#5d7f3f',
    '#7f7f7f',
    '#0d0d0d',
    '#161616',
    '#222933',
    '#2a4d75',
    '#7a3f1a',
    '#525252',
    '#7b601c',
    '#233760',
    '#3e552a'
  ],
  standard: [
    '#b12318',
    '#eb3323',
    '#f6c143',
    '#fffe54',
    '#a0cd63',
    '#4ead5b',
    '#4baeea',
    '#2b70ba',
    '#05215c',
    '#67379a'
  ]
}
const boldValues = {
  bold: 1,
  '500': 1,
  '600': 1,
  '700': 1,
  '800': 1,
  '900': 1
}
const fonts = {
  Arial: 1,
  'Comic Sans MS': 1,
  Consolas: 1,
  Cambria: 1,
  'Arial Black': 1,
  Courier: 1,
  'Courier New': 1,
  Garamond: 1,
  Georgia: 1,
  'Segoe UI': 1,
  'Segoe UI, Light': 1,
  'Segoe UI Semibold': 1,
  'Segoe UI Symbol': 1,
  'Sans-Serif': 1,
  Serif: 1,
  'Times New Roman': 1,
  'Trebuchet MS': 1,
  Verdana: 1,
  'Arial Rounded MT': 1,
  'Nueva Roman': 1,
  Helvetica: 1,
  Calibri: 1,
  'Lucida Console': 1,
  'Calibri Light': 1,
  'Century Gothic': 1,
  Impact: 1
}
let fontSizes = [8, 9, 10, 12, 14, 16, 18, 20, 24, 28, 32]
const numberFormats = {
  General: 'Общий',
  '#.#%': 'Процент',
  'dd.MM.yyyy': 'Дата',
  'dd.MM.yyyy dddd': 'Date day',
  '$* #,##0.00_': 'Денежный $',
  '€* #,##0.00_': 'Денежный €',
  '₽* #,##0.00_': 'Денежный ₽',
  '₸* #,##0.00_': 'Денежный ₸',
  '#.00': 'Десятичный',
  custom: 'Пользовательский',
  'thousand-decrease': 'Тысячи'
  // "M": "Date M",
  // "m": "Date m",
  // "# ?/?": "# ?/?",
  // "# ??/??": "# ??/??",
  // "# ?/4": "# ?/4",
  // "#,## ?/?": "#,## ?/?",
  // "$* #.##": "$* #.##",
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
.gc-grid {
  min-height: 600px;
  height: 100%;
}
</style>
