* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.gc-cell {
    line-height: 15px;
}

.gc-row {
    border-bottom: 1px solid #f2f2f2;
    padding-top: 10px;
}

.gc-popup-editing-area {
    width: 454px;
}

.gc-grid {
    border: 1px none white;
}

.sample-options {
    float: left;
    width: 100%;
    height: auto;
    overflow: auto;
    padding: 10px;
    background: #fbfbfb;
    box-sizing: border-box;
    font-family: -apple-system-font, "Helvetica Neue", 'Segoe UI', Helvetica, Arial, sans-serif;
}

    .sample-options label {
        font-weight: normal;
        display: inline;
        width: 75px;
    }

    .sample-options select {
        font-size: 1rem;
        border: 1px solid #999;
        font-family: -apple-system-font, "Helvetica Neue", 'Segoe UI', Helvetica, Arial, sans-serif;
    }

.option-row {
    font-size: 14px;
    padding: 5px;
    margin-top: 5px;
}

.grid {
    height: 75%;
    width: 100%;
    margin-top: 0px;
    float: left;
}

.employee-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    border: solid 1px #e0e0e0;
    margin-right: 5px;
}

.timeline-leftshape-group {
    width: 0px;
}

.timeline-rightshape-group {
    width: 0px;
}

.timelineLeftBtns {
    display: inline-block;
}

.timelineRightBtns {
    float: right;
    display: inline-block;
}

.gc-cell-border {
    border: none;
}

.gc-group-header-row {
    background: initial;
}

.group-item-title {
    border: none;
    color: #222;
    background: #C48C43;
    white-space: normal;
    text-overflow: ellipsis;
    padding: 0.4em;
    font-size: 13px;
    font-weight: 600;
}

.group-photo-container,
.group-item-description {
    border: none;
}

.group-photo-container {
    position: absolute;
    bottom: 0.4em;
    right: 0.4em;
}

.group-item-description {
    padding: 8px;
}

.gc-trellis-group-header-inner {
    padding: 0 0.4em;
    font-size: 12px;
    font-weight:400;
    background: #f1f1f1;
}

.group-item-container {
    height: 100%;
    font-size: 12px;
    overflow: hidden;
    position: relative;
}

.group-item-container-inner {
    height: 95%;
    border-radius: 4px;
    overflow: hidden;
    color: #222;
    font-weight: 400;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.10);
}

.finish {
    background: #d2ffd1;
}

.eighty-per {
    background: #a0ff9d;
}

.fifty-per {
    background: #cfcfff;
}

.thirty-per {
    background: #98d8ff;
}

.start {
    background: #ffdd67;
}

.finish-head {
    background: #87ff84;
}

.eighty-per-head {
    background: #74dc72;
}

.fifty-per-head {
    background: #a1a1e2;
}

.thirty-per-head {
    background: #4bbcff;
}

.start-head {
    background: #ffb400;
}

.trellis-grouping .gc-trellis-group-header {
    line-height: 24px;
}
