<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/zepto.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/resume.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .dialog-overlay {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(55, 58, 71, 0.9);
            z-index: 9999;
        }
        
        .dialog-container {
            position: absolute;
            z-index: 10000;
            border: 1px solid lightgrey;
            width: 300px;
            height: 200px;
            background: #fff;
            color: #777;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        
        .gc-column-header-cell {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .gc-column-header-cell p {
            margin: 0;
            position: relative;
        }
        
        .vertical-middle {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        
        .dialog-header {
            padding: 1em;
            border-bottom: solid 1px #f1f1f1;
        }
        
        .dialog-header .header-title {
            font-weight: bold;
        }
        
        .dialog-close-button {
            float: right;
            width: 20px;
            text-align: center;
            border-radius: 10px;
            color: #6a9f9f;
        }
        
        .dialog-close-button:hover {
            cursor: pointer;
            color: #406363;
        }
        
        .dialog-body {
            padding: 1em;
        }
        
        .dialog-body .name {
            font-size: 20px;
            font-weight: bold;
        }
        
        .dialog-body .position {
            font-style: italic
        }
        
        .dialog-body .advantage {
            margin-top: 15px;
        }
        
        .gc-row,
        .gc-action-area {
            line-height: 33px;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'firstName',
            caption: 'First Name',
            dataField: 'firstName',
            width: '*',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.firstName}}</p>'
        }, {
            id: 'lastName',
            caption: 'Last Name',
            dataField: 'lastName',
            width: '*',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.lastName}}</p>'
        }, {
            id: 'score',
            caption: 'Score',
            dataField: 'score',
            width: '*',
            dataType: 'number',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.score}}</p>'
        }, {
            id: 'position',
            caption: 'Position',
            dataField: 'position',
            width: '*',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.position}}</p>'
        }, {
            id: 'controlPanel',
            action: [{
                name: 'edit',
                handler: startEditing
            }, {
                name: 'details',
                handler: showDetails
            }],
            width: 270
        }];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            rowHeight: 40,
            colMinWidth: 100,
            allowEditing: true
        }));

        //focus data.view by default
        document.querySelector('#grid1').focus();

        function showDetails(args) {
            initDialog(args.dataItem);
        }

        function startEditing(args) {
            var hitInfo = args.hitInfo;
            var isEditing = !!document.getElementById(dataView.uid + '-inline-editing-area');
            if (!isEditing) {
                var cell = document.querySelector('#' + args.rowID + ' .c' + hitInfo.column + ' .gc-action-area');
                cell.innerHTML = '<button class="gc-action" data-action="save">save</button>' +
                    '<button class="gc-action" data-action="cancel">cancel</button>';
                dataView.startEditing();
            }
        }

        function initDialog(dataItem) {
            var overlay = $('<div class="dialog-overlay"></div>');
            var dialog = $(
                '<div class="dialog-container">' +
                '<div class="dialog-header">' +
                '<span class="header-title">Applicant Details</span>' +
                '<div class="dialog-close-button"><span>&#x2715</span></div>' +
                '</div>' +
                '<div class="dialog-body">' +
                '<div class="name">' + dataItem.firstName + ' ' + dataItem.lastName + '</div>' +
                '<div class="position">' + dataItem.position + '</div>' +
                '<div class="advantage">' + dataItem.advantage + '</div>' +
                '</div>' +
                '</div>'
            );

            var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

            $(document.body)
                .append(overlay)
                .append(dialog);
            var containerRect = dialog[0].getBoundingClientRect();
            var left = parseInt((width - containerRect.width) / 2 + window.pageXOffset);
            var top = parseInt((height - containerRect.height) / 2 + window.pageYOffset);
            dialog.css({
                left: left,
                top: top
            });
            overlay.on('mousewheel', function() {
                return false;
            });
            $('.dialog-close-button').on('click', function() {
                overlay.remove();
                dialog.remove();
            });
        }
    </script>
</body>

</html>