<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/autoRowHeight.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .gc-grid {
            border: none;
        }
        
        .c2,
        .c3 {
            color: #fff;
            font-size: 22px;
        }
        
        .r0 .c2 {
            background-color: #603E50;
        }
        
        .r1 .c2 {
            background-color: #695877;
        }
        
        .r2 .c2 {
            background-color: #73738E;
        }
        
        .r3 .c2 {
            background-color: #7C9EAA;
        }
        
        .r4 .c2 {
            background-color: #8FC8C9;
        }
        
        .r0 .c3 {
            background-color: #533747;
        }
        
        .r1 .c3 {
            background-color: #5F506B;
        }
        
        .r2 .c3 {
            background-color: #6A6B83;
        }
        
        .r3 .c3 {
            background-color: #76949F;
        }
        
        .r4 .c3 {
            background-color: #86BBBD;
        }
        
        .rowDiv {
            display: table;
            table-layout: fixed;
            width: 100%;
        }
        
        .productDiv,
        .incomeDiv {
            border: none;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            padding: 0.4em 1em;
        }
        
        .incomeSpan {
            border: none;
            padding: 0;
            display: block;
        }
        
        .photo,
        .name {
            display: inline-block;
            vertical-align: middle;
        }
        
        .photo {
            width: 100px;
            margin-right: 1em;
            text-align: center;
            position: relative;
            top: 4px;
        }
        
        .product-total {
            text-align: right;
            font-size: 1.2rem;
            font-family: -apple-system-font, "Helvetica Neue", 'Segoe UI', Helvetica, Arial, sans-serif;
            margin-top: 1em;
        }
        
        .product-total-inner {
            background: #f1f1f1;
            border-radius: 24px;
            color: #333;
            display: inline-block;
            padding: 0.4em 1em;
        }
        
        .product-total-inner span {
            font-weight: 700;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="gridContainer" style="height: 380px; width: 100%;">
        <div id="grid1" style="height: 100%; width: 100%;"></div>
        <div id="total" class="product-total"></div>
    </div>
    <script type="text/javascript">
        var timeFormatter = 'HH:mmtt';
        var presenter = '<div class="container">' +
            '<div class="photo"><img src={{=it.photo}} /></div>' +
            '<div class="name">{{=it.name}}</div>' +
            '</div>';
        var columns = [{
            id: 'photo',
            caption: 'Photo',
            dataField: 'photo'
        }, {
            id: 'name',
            caption: 'Name',
            dataField: 'name'
        }, {
            id: 'income',
            caption: 'Income',
            dataField: 'income',
            format: '$#,###'
        }, {
            id: 'info',
            dataField: 'photo,name',
            presenter: presenter
        }];
        var rowTemplate = '<div class="rowDiv" style ="width:100%;height:100%;">' +
            '<div class="productDiv" data-column="info"></div>' +
            '<div class="incomeDiv c2"> <div class="container"> <span class="incomeSpan" data-column="income"></span> </div> </div>' +
            '</div>';

        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            autoRowHeight: true,
            showColHeader: false,
            showRowHeader: false,
            selectionMode: 'none',
            rowTemplate: rowTemplate
        }));
        refreshTotalPrice();

        //focus data.view by default
        document.querySelector('#grid1').focus();


        function refreshTotalPrice() {
            var sum = dataView.data.evaluate('sum([income])');
            var excelFormatter = new GC.Spread.Formatter.GeneralFormatter('#,###');
            sum = excelFormatter.format(sum);
            var count = dataView.data.evaluate('count([income])');

            var totalPriceSpan = document.getElementById('total');
            totalPriceSpan.innerHTML = '<div class="product-total-inner">Total (' + count + ' items): ' + '<span>$' + sum + '</span></div>';
        }
    </script>
</body>

</html>