<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/SalesJan.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'id',
            caption: 'Order Id',
            dataField: 'Transaction_Id',
            dataType: 'number',
            visible: false
        }, {
            id: 'date',
            caption: 'Date',
            dataField: 'Transaction_Date',
            dataType: 'date',
            format: 'mm/dd/yyyy',
            width: 120
        }, {
            id: 'country',
            caption: 'Country',
            dataField: 'Country',
            width: 180
        }, {
            id: 'state',
            caption: 'State',
            dataField: 'State',
            width: 120
        }, {
            id: 'city',
            caption: 'City',
            dataField: 'City',
            width: 120
        }, {
            id: 'name',
            caption: 'Name',
            dataField: 'Name',
            width: 120
        }, {
            id: 'product',
            caption: 'Product',
            dataField: 'Product',
            width: 280
        }, {
            id: 'price',
            caption: 'Item Price',
            dataField: 'Price',
            dataType: 'number',
            width: 120
        }, {
            id: 'quantity',
            caption: 'Quantity',
            dataField: 'Quantity',
            dataType: 'number',
            width: 120
        }, {
            id: 'sales',
            caption: 'Sales',
            dataField: '=[price]*[quantity]',
            format: "$#,##",
            width: 120
        }, {
            id: 'salesPercentage',
            caption: 'Percentage',
            dataField: '=[sales] / sum([sales])',
            format: '0.0%',
            cssClass: 'align-right',
            allowEditing: false,
            minWidth: 120
        }, {
            id: 'performance',
            caption: 'Performance',
            dataField: '=if([sales] > 50, "good", "bad")',
            presenter: '<span style="color: {{? it.performance=="good"}}green{{??}}red{{?}}">{{=it.performance}}</span>',
            width: 120,
            allowEditing: false
        }];


        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout());
        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>