<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/lodash.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/treeData.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .grid {
            height: 100%;
            margin: 10px 0;
        }
        
        .grid .gc-cell.c2 {
            text-align: right;
        }
        
        .grid .gc-cell.c3 {
            text-align: right;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'department',
            caption: 'Department',
            dataField: 'department',
            presenter: '{{=it.department}} (L{{=it.level}})',
            width: 250,
            hierarchyFooter: '<span style="font-weight:bold">Count: {{=it.eval("=COUNT([id])")}}</span>'
        }, {
            id: 'level',
            caption: 'Level',
            minWidth: 120,
            dataField: '=Hierarchy.Level()',
            visible: false,
        }, {
            id: 'budget',
            caption: 'Budget',
            minWidth: 120,
            dataField: 'budget',
            format: '$0,00',
            hierarchyFooter: '<span style="font-weight:bold;text-align:right">Total: {{=it.eval("=SUM([budget])", "$0,0")}}</span>'
        }, {
            id: 'budgetRatio',
            caption: 'Percent',
            minWidth: 120,
            dataField: '=[budget] / Sumx(Hierarchy.Current(), [budget])',
            format: '0.0%'
        }, {
            id: 'location',
            caption: 'Location',
            minWidth: 120,
            dataField: 'location'
        }, {
            id: 'phone',
            caption: 'Phone',
            minWidth: 120,
            dataField: 'phone'
        }, {
            id: 'country',
            caption: 'Country',
            minWidth: 120,
            dataField: 'country'
        }, {
            id: 'id',
            caption: 'Id',
            dataField: 'id',
            visible: false
        }, {
            id: 'parent',
            caption: 'Parent',
            dataField: 'parent',
            visible: false
        }];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            allowSorting: true,
            showRowHeader: false,
            hierarchy: {
                keyField: 'id',
                parentField: 'parent',
                collapsed: true,
                column: 'department',
                footer: {
                    visible: true
                }
            }
        }));
        // expand some nodes manually
        _.forEach(dataView.data.nodes, function(node) {
            node.collapsed = false;
        });
        dataView.invalidate();

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>