<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/chartAccounts.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .grid {
            height: 100%;
            margin: 10px 0;
        }
        
        .grid .gc-cell.c3 {
            text-align: right;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var accountPresenter = '<img src="images/icon.png" style="vertical-align: top; position: relative; top: 1px; margin-right: 0.2em;"></img><span>{{=it.accountName}}</span>';
        var columns = [{
            id: 'accountName',
            caption: 'Account Name',
            dataField: 'accountName',
            minWidth: 120,
            presenter: accountPresenter,
            hierarchyFooter: '<span style="font-weight:bold">Count: {{=it.eval("=COUNT([id])")}}</span>'
        }, {
            id: 'type',
            caption: 'Type',
            dataField: 'type'
        }, {
            id: 'commodity',
            caption: 'Currency',
            dataField: 'commodity'
        }, {
            id: 'total',
            caption: 'Expense',
            dataField: 'total',
            format: '$0.00',
            hierarchyFooter: '<span style="font-weight:bold">Total: {{=it.eval("=SUM([total])", "$0.0")}}</span>'
        }, {
            id: 'id',
            caption: 'Id',
            dataField: 'id',
            visible: false
        }, {
            id: 'parentID',
            caption: 'ParentID',
            dataField: 'parentID',
            visible: false
        }];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            allowSorting: true,
            showRowHeader: false,
            hierarchy: {
                keyField: 'id',
                parentField: 'parentID',
                collapsed: false,
                footer: {
                    visible: true
                }
            }
        }));

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>