<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/salesData.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .gc-grouping-toggle {
            font-family: "dataview";
            font-size: 16px;
            margin-right: 6px;
            border: 0;
            height: 100%;
        }
        
        .gc-grouping-toggle.expand:before {
            content: '\e800';
        }
        
        .gc-grouping-toggle.collapsed:before {
            content: '\e803';
        }
        
        .header-cell {
            height: 100%;
            width: 600px;
            position: absolute;
            font-weight: 700;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        
        .gc-group-header-row {
            background-color: transparent;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'salesDate',
            caption: 'Sales Date',
            dataField: 'salesDate',
            format: 'yyyy/MM/dd',
            dataType: 'date',
            width: 120
        }, {
            id: 'salesperson',
            caption: 'Salesperson',
            dataField: 'salesperson',
            width: 120
        }, {
            id: 'productName',
            caption: 'Product Name',
            dataField: 'productName',
            width: 120
        }, {
            id: 'unitPrice',
            caption: 'Unit Price',
            dataField: 'unitPrice',
            format: '$#,##0',
            width: 120
        }, {
            id: 'quantity',
            caption: 'Quantity',
            dataField: 'quantity',
            width: 120
        }];

        var now = Date.now();
        var oneDayMilliseconds = 24 * 60 * 60 * 1000;
        for (var i = 0, length = data.length; i < length; i++) {
            data[i].salesDate = toOADate(now - i * oneDayMilliseconds);
        }

        var today = new Date(now);
        var weeks = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var totalDayCount = Math.ceil(today / oneDayMilliseconds);
        var day = today.getDay();

        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            showRowHeader: false,
            allowGrouping: false,
            allowColumnReorder: false,
            allowColumnResize: false,
            grouping: [{
                field: 'salesDate',
                header: {
                    template: '<div class="header-cell"><span class="gc-grouping-toggle {{=it.groupStatus}}" style="margin-left:{{=it.margin+4}}px;"></span><span>{{=it.name}} ({{=it.count}} items)</span></div>'
                },
                footer: {
                    visible: false
                },
                collapsed: true,
                converter: function(time) {
                    var currentDayCount = Math.ceil(time.getTime() / oneDayMilliseconds);
                    var pastWeeks = Math.floor((totalDayCount - currentDayCount - day) / 7);
                    if (totalDayCount === currentDayCount) {
                        return 'Today';
                    } else if (currentDayCount === totalDayCount - 1) {
                        return 'Yesterday';
                    } else if (totalDayCount - currentDayCount <= day) {
                        return weeks[day + currentDayCount - totalDayCount];
                    } else if (pastWeeks === 0) {
                        return 'Last Week';
                    } else if (pastWeeks === 1) {
                        return '2 Weeks Ago';
                    } else if (pastWeeks === 2) {
                        return '3 Week Ago';
                    }
                    return 'Older';
                }
            }]
        }));

        function toOADate(date) {
            var epoch = new Date(1899, 11, 30);
            var msPerDay = 8.64e7;
            var v = -1 * (epoch - date) / msPerDay;
            // Deal with dates prior to 1899-12-30 00:00:00
            var dec = v - Math.floor(v);
            if (v < 0 && dec) {
                v = Math.floor(v) - dec;
            }
            return v;
        }

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>