<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/SalesJan.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .header-cell {
            height: 100%;
            position: absolute;
            font-weight: 700;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            padding: 3px;
        }
        
        .gc-grouping-toggle {
            font-family: "dataview";
            font-size: 16px;
            margin-right: 6px;
            border: 0;
            height: 100%;
        }
        
        .gc-grouping-toggle.expand:before {
            content: '\e800';
            color: #440381;
        }
        
        .gc-grouping-toggle.collapsed:before {
            content: '\e803';
            color: #EC368D;
        }
        
        .gc-group-header-row {
            background-color: white;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'id',
            caption: 'Order Id',
            dataField: 'Transaction_Id',
            dataType: 'number',
            visible: false
        }, {
            id: 'date',
            caption: 'Date',
            dataField: 'Transaction_Date',
            dataType: 'date',
            format: 'mm/dd/yyyy',
            width: 120
        }, {
            id: 'country',
            caption: 'Country',
            dataField: 'Country',
            width: 180
        }, {
            id: 'state',
            caption: 'State',
            dataField: 'State',
            width: 120
        }, {
            id: 'city',
            caption: 'City',
            dataField: 'City',
            width: 120
        }, {
            id: 'name',
            caption: 'Name',
            dataField: 'Name',
            width: 120
        }, {
            id: 'product',
            caption: 'Product',
            dataField: 'Product',
            width: 280
        }, {
            id: 'price',
            caption: 'Item Price',
            dataField: 'Price',
            dataType: 'number',
            width: 120
        }, {
            id: 'quantity',
            caption: 'Quantity',
            dataField: 'Quantity',
            dataType: 'number',
            width: 120
        }, {
            id: 'sales',
            caption: 'Sales',
            dataField: '=[price]*[quantity]',
            dataType: 'number',
            format: "$#,##",
            width: 120
        }];


        var groupHeaderTemplate =
            '<div class="header-cell" style="width:calc(100% - 240px);">' +
            '<span class="gc-grouping-toggle {{=it.groupStatus}}" style="margin-left:{{=it.margin+4}}px;"></span>' +
            '<span level="{{=it.level}}">{{=it.name}} ({{=it.count}} items)</span>' +
            '</div>' +
            '<div class="header-cell align-right" style="right:120px;width:120px;">{{=it.eval("=sum([quantity])")}}</div>' +
            '<div class="header-cell  align-right" style="right:0px;width:120px;">{{=it.eval("=sum([sales])", "$#,##")}}</div>';
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns,
            new GC.Spread.Views.Plugins.GridLayout({
                showRowHeader: false,
                allowGrouping: false,
                allowColumnReorder: false,
                allowColumnResize: false,
                grouping: [{
                    field: 'country',
                    header: {
                        template: groupHeaderTemplate
                    },
                    footer: {
                        visible: false
                    },
                    collapsed: true
                }]
            }));

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>