<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/treeData.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .grid {
            height: 100%;
            margin: 10px 0;
        }
        
        .grid .gc-cell.c1 {
            text-align: right;
        }
        
        .footer-p {
            font-weight: bold;
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'department',
            caption: 'Department',
            dataField: 'department',
            width: 250
        }, {
            id: 'budget',
            caption: 'Budget',
            dataField: 'budget',
            minWidth: 120,
            format: '$0.00'
        }, {
            id: 'location',
            caption: 'Location',
            dataField: 'location',
            minWidth: 120
        }, {
            id: 'phone',
            caption: 'Phone',
            dataField: 'phone',
            minWidth: 120
        }, {
            id: 'country',
            caption: 'Country',
            dataField: 'country',
            minWidth: 120
        }, {
            id: 'id',
            caption: 'Id',
            dataField: 'id',
            visible: false
        }, {
            id: 'parent',
            caption: 'Parent',
            dataField: 'parent',
            visible: false
        }];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            allowSorting: true,
            showRowHeader: false,
            hierarchy: {
                keyField: 'id',
                parentField: 'parent',
                collapsed: false,
                column: 'department',
                footer: {
                    visible: true,
                    height: 40,
                    template: '<p class="footer-p">Count:{{=it.eval("=COUNT([id])")}}, Total Budget:{{=it.eval("=SUM([budget]", "$#,#")}}, Max Budget:{{=it.eval("=MAX([budget]", "$#,#")}}, Min Budget={{=it.eval("=MIN([budget]", "$#,#")}}</p>'
                }
            }
        }));

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>