<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/healthy.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .gc-cell {
            border: none;
            padding: 0;
        }
        
        .gc-viewport {
            background: url('images/background.png');
            padding: 1em;
        }
        
        .template-wrapper {
            margin-bottom: 1em;
        }
        
        .template-container {
            overflow: hidden;
            background: #C8FFBE;
            position: relative;
            border: solid 1px #e0e0e0;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
            width: 677px;
        }
        
        .gc-row.gc-selected {
            background: none;
            color: inherit;
        }
        
        .gc-focused .template-container {
            background: #623B5A;
        }
        
        .gc-focused .left-container div {
            color: white;
        }
        
        .gc-focused .left-container:after {
            border-left: solid #623B5A;
            border-width: 5px;
        }
        
        .gc-row.gc-focused {
            background-color: inherit;
        }
        
        .left-container {
            width: 75px;
            float: left;
        }
        
        .left-container:after {
            left: 75px;
            top: 10px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            border-left: solid #C8FFBE;
            border-width: 5px;
        }
        
        .right-container {
            width: 600px;
            background: white;
            min-height: 96px;
            margin-left: 75px;
        }
        
        .day {
            text-align: center;
            font-size: 2.5em;
            color: #333;
        }
        
        .week {
            text-align: center;
            font-size: 1.1em;
            color: #333;
        }
        
        .month {
            text-align: center;
            font-size: 0.8em;
            color: #999;
        }
        
        .title {
            color: #623B5A;
            font-size: 16px;
        }
        
        .content {
            color: #777;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
        .note,
        .medicine,
        .moods {
            padding: 5px 10px;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div><template id="template" style="display: none">
    {{function getTime(time, type){
        var date = new Date(time);
        var arr = date.toDateString().split(' ');
        switch (type) {
            case 'day':
               return arr[2];
            case 'week':
                return arr[0];
            case 'month':
                return arr[1] + ', ' + arr[3];
            default:
                return '';
       }
    }}}
    <div class="template-wrapper">
        <div class="template-container">
            <div class="left-container" data-column="time">
            </div>
            <div class="right-container" data-column="details">
            </div>
        </div>
    </div>
</template>
    <script type="text/javascript">
        var timePresenter = '<div class="day">{{=getTime(it.time, "day")}}</div>' +
            '<div class="week">{{=getTime(it.time, "week")}}</div>' +
            '<div class="month">{{=getTime(it.time, "month")}}</div>';
        var detailsPresenter =
            '{{? it.details.medicine}}<div class="medicine"><div class="title">Medicine:</div><div class="content">{{=it.details.medicine}}</div></div>{{?}}' +
            '{{? it.details.note}}<div class="note"><div class="title">Note:</div><div class="content">{{=it.details.note}}</div></div>{{?}}' +
            '{{? it.details.moods}}<div class="moods"><div class="title">Moods:</div><div class="content">{{=it.details.moods}}</div></div>{{?}}';

        var columns = [{
            id: 'time',
            dataField: 'time',
            presenter: timePresenter
        }, {
            id: 'details',
            dataField: 'details',
            presenter: detailsPresenter
        }];

        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            autoRowHeight: true,
            showRowHeader: false,
            showColHeader: false,
            rowTemplate: '#template'
        }));

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>