<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.sparkline.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/zepto.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/gdp.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .wrapper {
            height: 500px;
            overflow: auto;
        }
        
        .grid1 {
            width: 70%;
            height: 100%;
            float: left;
        }
        
        .sparkline {
            float: right;
            background: #f1f1f1;
            color: #777;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            text-align: center;
            border: solid 1px #e0e0e0;
            display: inline-block;
            border-radius: 4px;
            padding: 2em 1em;
        }
        
        .legend {
            display: inline-block;
            vertical-align: middle;
        }
        
        .pie-mark {
            width: 35px;
            height: 10px;
            display: inline-block;
        }
        
        .pie-mark-owner {
            width: 50px;
            display: inline-block;
        }
        
        #sales-curve {
            display: inline-block;
            vertical-align: middle;
            width: 150px;
            height: 150px;
            position: relative;
        }
        
        @media only screen and (max-width: 768px) {
            .wrapper {
                height: 420px;
            }
            .grid1 {
                float: none;
                width: 100%;
            }
            .sparkline {
                float: none;
                width: 100%;
                margin-top: 10px;
            }
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div class="wrapper">
        <div id="grid1" class="grid1"></div>
        <div class="sparkline">
            <h3>2018 GDP Percentage</h3>
            <div class="legend" style="display:inline-block;">
                <div>
                    <div class="pie-mark-owner">
                        <label>USA</label>
                    </div>
                    <div class="pie-mark" style="background:#490A3D"></div>
                </div>
                <div>
                    <div class="pie-mark-owner">
                        <label>China</label>
                    </div>
                    <div class="pie-mark" style="background:#BD1550"></div>
                </div>
                <div>
                    <div class="pie-mark-owner">
                        <label>Japan</label>
                    </div>
                    <div class="pie-mark" style="background:#E97F02"></div>
                </div>
                <div>
                    <div class="pie-mark-owner">
                        <label>Other</label>
                    </div>
                    <div class="pie-mark" style="background:#8c847b"></div>
                </div>
            </div>
            <div id='sales-curve'></div>
        </div>
    </div>
    <script type="text/javascript">
        var lineSparklineFormula = '=LINESPARKLINE([gdpGrowth],[year])';
        var columns = [{
            id: 'country',
            caption: 'Country',
            dataField: 'Country',
            groupHeader: 'growth trend: {{=it.eval("' + lineSparklineFormula + '")}}'
        }, {
            id: 'year',
            caption: 'Year',
            dataField: 'Year',
            dataType: 'number'
        }, {
            id: 'gdp',
            caption: 'GDP (current US$)',
            dataField: 'GDP',
            dataType: 'number',
            format: '$#,##'
        }, {
            id: 'gdpGrowth',
            caption: 'GDP growth(annual %)',
            dataField: 'GDP growth',
            dataType: 'number',
            format: '0.0%'
        }];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns,
            new GC.Spread.Views.Plugins.GridLayout({
                grouping: [{
                    field: 'country',
                    collapsed: true,
                    footer: {
                        visible: false
                    }
                }]
            }));

        var colorMap = {
            "United States": '#490A3D',
            "China": '#BD1550',
            "Japan": '#E97F02',
            "Others": '#8c847b'
        };
        var percentagePie = dataView.data.evaluate('=summarize(filter([year]="2018"), [country], "gdp", sum([gdp]))');
        var sum = dataView.data.evaluate('=sumx(filter([year]="2018"&&[country]<>"World"), [gdp])');
        percentagePie[3].gdp -= sum;
        percentagePie[3].country = "Others";
        var pieSparkline = new GC.Spread.Views.Plugins.Sparkline.PieSparkline({
            values: percentagePie.map(function(item) {
                return item.gdp;
            }),
            colors: percentagePie.map(function(item) {
                return colorMap[item.country];
            })
        });
        pieSparkline.paint(document.getElementById('sales-curve'));
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>