<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <link rel="stylesheet" type="text/css" href="../css/plugins/gc.spread.views.horizontallayout.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.horizontallayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/TVData_small.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .stars-box {
            display: inline-block;
            height: 13px;
            width: 65px;
            overflow: hidden;
            background-image: url("images/star-ratings.png");
            vertical-align: middle;
        }
        
        .stars-3 {
            background-position: -26px 0;
        }
        
        .stars-4-5 {
            background-position: 0 -19px;
        }
        
        .stars-5 {
            background-position: 0 0;
        }
        
        .gc-column-header-cell.c0 {
            background: white;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var headerPresenter = '<div style="text-align:center;"><img class="tv-image" src={{=it.image}} /><p style="white-space: normal;">{{=it.description}}</p></div>';
        var startPresenter = '<div class="stars-box {{=it.starsIcon}}"></div>';
        var columns = [{
            id: 'header',
            caption: '',
            dataField: 'image,description',
            presenter: headerPresenter,
            width: 220
        }, {
            id: 'brand',
            caption: 'Brand',
            dataField: 'brand'
        }, {
            id: 'price',
            caption: 'Price',
            dataField: 'price',
            format: '$#,##'
        }, {
            id: 'size',
            caption: 'Size (inches)',
            dataField: 'size'
        }, {
            id: 'refreshRate',
            caption: 'RefreshRate (Hz)',
            dataField: 'refreshRate'
        }, {
            id: 'resolution',
            caption: 'Resolution',
            dataField: 'resolution'
        }, {
            id: 'starsIcon',
            caption: 'Stars',
            dataField: 'starsIcon',
            presenter: startPresenter
        }];

        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.HorizontalLayout({
            colHeaderHeight: 150,
            colWidth: 30,
            rowHeight: 280,
            selectionUnit: 'cell',
            showRowHeader: false
        }));

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>