<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-snippet.min.css">
    <link rel="stylesheet" type="text/css" href="../css/font-awesome/css/font-awesome.min.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.cardlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/cars.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        #grid2 {
            width: 450px;
        }
        
        #grid2 .gc-grid {
            border-color: #333;
            background: #333;
            border-radius: 4px;
        }
        
        .photoInfo {
            height: 165px;
            width: 230px;
            line-height: 165px;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            margin: 0;
            margin-right: 10px;
            position: relative;
        }
        
        .photoInfo:before {
            position: absolute;
            left: 180px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 165px 50px;
            border-color: transparent transparent #333 transparent;
            content: ' ';
        }
        
        .carInfo {
            display: inline-block;
            vertical-align: middle;
        }
        
        .carInfo td {
            padding: 0.4em;
            border-bottom: solid 1px #666;
            width: 50%;
            color: #fff;
        }
        
        .carInfo td:last-child {
            text-align: right;
        }
        
        @media only screen and (max-width: 768px) {
            #grid2 {
                width: 375px;
            }
            .photoInfo {
                width: 170px;
            }
            .photoInfo:before {
                left: 120px;
            }
            .carInfo td {
                width: auto;
            }
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <p style="margin:5px;">Focus row information</p>
    <div id="grid2" style="height:167px;margin-top: 5px;"></div>
    <p style="margin:5px;">Use row up/down or page up/down to navigate the focus row</p>
    <div id="grid1" style="height:250px;"></div>
    <template id="carInfo" style="display: none">
    <div>
        <div data-column="Photo" class="photoInfo"></div>
        <table class="carInfo">
            <tbody>
                <tr>
                    <td>Displacement</td>
                    <td data-column="Displacement"></td>
                </tr>
                <tr>
                    <td>Horsepower</td>
                    <td data-column="Horsepower"></td>
                </tr>
                <tr>
                    <td>Weight/lbs</td>
                    <td data-column="Weight_in_lbs"></td>
                </tr>
                <tr>
                    <td>Acceleration</td>
                    <td data-column="Acceleration"></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
    <script type="text/javascript">
        var columns = [{
            id: 'Name',
            caption: 'CarName',
            dataField: 'Name'
        }, {
            id: 'Year',
            caption: 'Year',
            dataField: 'Year'
        }, {
            id: 'Miles_per_Gallon',
            caption: 'Miles/Gallon',
            dataField: 'Miles_per_Gallon'
        }, {
            id: 'Cylinders',
            caption: 'Cylinders',
            dataField: 'Cylinders'
        }];

        var dataView1 = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns,
            new GC.Spread.Views.Plugins.GridLayout({
                rowHeight: 36,
                selectionMode: 'none',
                colMinWidth: 120
            }));
        //focus data.view by default
        document.querySelector('#grid1').focus();
        var photoPresenter = '<img class="photo" src={{=it.Photo}} />';
        columns = [{
            id: 'Displacement',
            caption: 'Displacement',
            dataField: 'Displacement',
            width: '*'
        }, {
            id: 'Horsepower',
            caption: 'Horsepower',
            dataField: 'Horsepower',
            width: '*'
        }, {
            id: 'Weight_in_lbs',
            caption: 'Weight',
            dataField: 'Weight_in_lbs',
            format: '#,##',
            width: '*'
        }, {
            id: 'Acceleration',
            caption: 'Weight',
            dataField: 'Acceleration',
            width: '*'
        }, {
            id: 'Origin',
            caption: 'Origin',
            dataField: 'Origin',
            width: '*'
        }, {
            id: 'Photo',
            dataField: 'Photo',
            presenter: photoPresenter
        }];
        var data2 = [data[0]];
        var dataView2 = new GC.Spread.Views.DataView(document.getElementById('grid2'), data2, columns, new GC.Spread.Views.Plugins.CardLayout({
            cardHeight: 165,
            rowTemplate: '#carInfo',
            direction: 'horizontal'
        }));

        dataView1.focusChanged.addHandler(function(sender, e) {
            var sourceIndex = e.sourceRow;
            if (sourceIndex >= 0) {
                dataView2.data.updateItem(0, data[sourceIndex]);
            }
        });
    </script>
</body>

</html>