<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <link rel="stylesheet" type="text/css" href="../css/plugins/gc.spread.views.masonrylayout.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.masonrylayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/pinterestDogs.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        html {
            position: fixed;
            width: 100%;
        }
        
        .img-board {
            border-radius: 4px;
            border: 1px solid #e0e0e0;
            overflow: hidden;
            transition: 0.222s;
        }
        
        .img-board:hover {
            border-color: #333;
        }
        
        .image-meta {
            border-radius: 0 0 4px;
            font-size: 13px;
            font-family: "Helvetica Neue", "Helvetica", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", arial, sans-serif;
            color: #777;
        }
        
        .image-meta-context {
            padding: 1em;
        }
        
        @media only screen and (max-width: 768px) {
            .img-board {
                width: 145px;
                border-radius: 4px;
                border: 1px solid #e0e0e0;
                overflow: hidden;
                transition: 0.222s;
            }
            .image-content {
                width: 100%;
            }
            .image-meta-context {
                padding: 0.7em;
            }
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div><template id="rowTemplate" style="display:none">
    <div class="img-board">
        <div data-column="image"></div>
        <div class="image-meta">
            <div data-column="meta" class="image-meta-context"></div>
        </div>
    </div>
</template>
    <script type="text/javascript">
        var columns = [{
            id: 'image',
            name: 'image',
            dataField: 'image',
            presenter: '<img class="image-content" src="{{=it.image}}" alt="dogs">'
        }, {
            id: 'meta',
            name: 'meta',
            dataField: 'meta',
            presenter: '<div class="image-meta-context">{{=it.meta}}</div>'
        }];



        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.MasonryLayout({
            gutter: 12,
            rowTemplate: '#rowTemplate'
        }));
        window.dataView = dataView;

        window.addEventListener('resize', function() {
            dataView.invalidate();
        });

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>