<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .grid {
            height: 100%;
        }
        
        .gc-column-header-cell {
            padding-top: 0;
            padding-bottom: 0;
        }
        
        .gc-column-header-cell p {
            margin: 0;
            position: relative;
        }
        
        .vertical-middle {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        
        .employee-photo {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-left: 5px;
            border: solid 2px #e0e0e0;
        }
        
        .gc-cell {
            line-height: 32px;
        }
        
        .gc-cell img {
            vertical-align: middle;
        }
        
        .gc-cell div {
            margin-left: 2px;
            display: inline-block;
            vertical-align: middle;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var data = [];
        for (var i = 0, len = 100; i < len; i++) {
            data.push({
                firstName: 'Daryl',
                lastName: 'Sweeney',
                photo: './images/ds.jpg',
                position: 'CEO',
                phone: '(555)924-9726'
            });
            data.push({
                firstName: 'Guy',
                lastName: 'Wooten',
                photo: './images/gw.jpg',
                position: 'CTO',
                phone: '(438)738-4935'
            });
            data.push({
                firstName: 'Buffy',
                lastName: 'Weber',
                photo: './images/bw.jpg',
                position: 'VP. Engineering',
                phone: '(699)924-9726'
            });
            data.push({
                firstName: 'Hyacinth',
                lastName: 'Hood',
                photo: './images/hh.jpg',
                position: 'Team Lead',
                phone: '(889)924-9726'
            });
            data.push({
                firstName: 'Akeem',
                lastName: 'Carr',
                photo: './images/ac.jpg',
                position: 'Software Developer',
                phone: '(738)924-9726'
            });

        }

        var photoPresenter = '<img class="employee-photo" src={{=it.photo}} ></len>';
        var columns = [{
            id: 'employee',
            caption: 'Employee',
            dataField: 'photo,firstName,lastName',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.employee}}</p>'
        }, {
            id: 'photo',
            dataField: 'photo',
            presenter: photoPresenter,
            visible: false
        }, {
            id: 'firstName',
            dataField: 'firstName',
            presenter: '<div>{{=it.firstName}}</div>',
            visible: false
        }, {
            id: 'lastName',
            dataField: 'lastName',
            presenter: '<div>{{=it.lastName}}</div>',
            visible: false
        }, {
            id: 'position',
            caption: 'Position',
            dataField: 'position',
            presenter: '<div>{{=it.position}}</div>',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.position}}</p>'
        }, {
            id: 'phone',
            caption: 'Phone',
            dataField: 'phone',
            presenter: '<div>{{=it.phone}}</div>',
            colHeaderPresenter: '<p class="vertical-middle">{{=it.phone}}</p>'
        }];

        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            rowHeight: 40,
            colHeaderHeight: 40
        }));
    </script>
</body>

</html>