<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/presentersData.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .percent-complete-bar {
            display: inline-block;
            height: 6px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
        }
        
        .bg-low {
            background-color: #FE4A49;
            display: inline-block;
        }
        
        .bg-middle {
            background-color: #FED766;
            display: inline-block;
        }
        
        .bg-high {
            background-color: #009FB7;
            display: inline-block;
        }
        
        [data-column="percentComplete"] {
            text-align: left;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        function getColClass(args) {
            var value = args.value;
            if (value <= 30) {
                return 'bg-low';
            } else if (value <= 60) {
                return 'bg-middle';
            } else {
                return 'bg-high';
            }
        }

        var hiddenColumn = screen.width < 480;
        var durationPresenter = '{{=it.duration}} days';
        var percentCompleteColPresenter = '<span class="percent-complete-bar" style="background-color:{{? it.percentComplete<30}}#FE4A49{{?? it.percentComplete<60}}#FED766{{??}}#009FB7{{?}};width:{{=it.percentComplete}}%;"></span>';
        var percentCompleteColPresenter2 = '<span style="display:inline-block;width:{{=it.percentComplete}}px;"></span>';
        var booleanColPresenter = '<input type="checkbox" disabled="disabled" {{? it.billable}}checked{{?}} />';
        var columns = [{
                id: 'title',
                caption: 'Title',
                dataField: 'title'
            }, {
                id: 'duration',
                caption: 'Duration',
                dataField: 'duration',
                presenter: durationPresenter,
                cssClass: getColClass
            }, {
                id: 'percentComplete',
                caption: '% Complete',
                dataField: 'percentComplete',
                presenter: percentCompleteColPresenter
            }, {
                id: 'percentComplete1',
                caption: '% Complete',
                dataField: 'percentComplete',
                presenter: percentCompleteColPresenter2,
                cssClass: getColClass,
                width: 100,
                allowResizing: false
            },

            {
                id: 'start',
                caption: 'Start',
                dataField: 'start',
                format: 'mm/dd/yyyy',
                visible: !hiddenColumn
            }, {
                id: 'finish',
                caption: 'Finish',
                dataField: 'finish',
                format: 'mm/dd/yyyy',
                visible: !hiddenColumn
            }, {
                id: 'billable',
                caption: 'Billable',
                dataField: 'billable',
                presenter: booleanColPresenter,
                visible: !hiddenColumn
            }
        ];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout());
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>