<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/SalesJan.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .gc-footer-panel-cell div {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3px;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var isMobile = screen.width < 480;
        var columns = [{
                id: 'id',
                caption: 'Order Id',
                dataField: 'Transaction_Id',
                dataType: 'number',
                visible: false
            }, {
                id: 'date',
                caption: 'Date',
                dataField: 'Transaction_Date',
                dataType: 'date',
                format: 'mm/dd/yyyy',
                visible: isMobile ? false : true
            }, {
                id: 'product',
                caption: 'Product',
                dataField: 'Product'
            }, {
                id: 'name',
                caption: 'Name',
                dataField: 'Name',
                visible: isMobile ? false : true
            }, {
                id: 'price',
                caption: 'Item Price',
                dataField: 'Price',
                dataType: 'number',
                footer: '<div>AVERAGE: {{=it.eval("=average([price])", "0.0")}}</div>'
            }, {
                id: 'quantity',
                caption: 'Quantity',
                dataField: 'Quantity',
                dataType: 'number',
                footer: '<div>TOTAL: {{=it.eval("=sum([quantity])")}}</div>'
            }, {
                id: 'country',
                caption: 'Country',
                dataField: 'Country',
                visible: isMobile ? false : true
            }, {
                id: 'state',
                caption: 'State',
                dataField: 'State',
                visible: isMobile ? false : true
            }, {
                id: 'city',
                caption: 'City',
                dataField: 'City',
                visible: isMobile ? false : true
            },

            {
                id: 'detail',
                caption: 'Detail',
                dataField: 'Product_Detail',
                width: '*',
                visible: isMobile ? false : true
            }
        ];

        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns,
            new GC.Spread.Views.Plugins.GridLayout({
                footerRow: {
                    visible: true,
                    height: 40
                }
            }));

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>