<!doctype html>
<html style="height:100%;font-size:14px;">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/gc.spread.views.dataview.12.2.0.css">
    <script src="../js/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.common.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/gc.spread.views.dataview.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/plugins/gc.spread.views.gridlayout.12.2.0.min.js" type="text/javascript"></script>
    <script src="../js/lodash.min.js" type="text/javascript"></script>
    <script src="../js/license.js" type="text/javascript"></script>
    <script src="data/treeData.js" type="text/javascript"></script>
    <style>
        * {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }
        
        .grid {
            height: 100%;
            margin: 10px 0;
        }
        
        .grid .gc-cell.c1 {
            text-align: right;
        }
    </style>
</head>

<body style="margin:8px;position:absolute;top:0;bottom:0;left:0;right:0;font-size:14px;">
    <div id="grid1" style="height:100%"></div>
    <script type="text/javascript">
        var columns = [{
            id: 'department',
            caption: 'Department',
            dataField: 'department',
            width: 250,
            hierarchyFooter: '<span style="font-weight:bold">Count: {{=it.eval("=COUNT([id])")}}</span>'
        }, {
            id: 'budget',
            caption: 'Budget',
            dataField: 'budget',
            format: '$0.00',
            minWidth: 120,
            hierarchyFooter: '<span style="font-weight:bold">Total: {{=it.eval("=SUM([budget])", "$0,0")}}</span>'
        }, {
            id: 'location',
            caption: 'Location',
            dataField: 'location',
            minWidth: 120
        }, {
            id: 'phone',
            caption: 'Phone',
            dataField: 'phone',
            minWidth: 120
        }, {
            id: 'country',
            caption: 'Country',
            dataField: 'country',
            minWidth: 120
        }, {
            id: 'id',
            caption: 'Id',
            dataField: 'id',
            visible: false
        }, {
            id: 'parent',
            caption: 'Parent',
            dataField: 'parent',
            visible: false
        }];
        var dataView = new GC.Spread.Views.DataView(document.getElementById('grid1'), data, columns, new GC.Spread.Views.Plugins.GridLayout({
            allowSorting: true,
            showRowHeader: false,
            grouping: [{
                field: 'country',
                footer: {
                    visible: false
                }
            }],
            hierarchy: {
                keyField: 'id',
                parentField: 'parent',
                collapsed: true,
                column: 'department',
                footer: {
                    visible: true
                }
            }
        }));
        // expand some nodes manually
        _.forEach(dataView.data.groups, function(group) {
            if (group.rootNode) {
                _.forEach(group.rootNode.children, function(node) {
                    node.collapsed = false;
                });
            }

        });
        dataView.invalidate();

        //focus data.view by default
        document.querySelector('#grid1').focus();
    </script>
</body>

</html>